<template lang="pug">

	page-wrap
		template(slot="aside")
			scroll-bar.side(:breakpoints="['desktop']")
				.side__inner
					Menu

		template(slot="content")
			scroll-bar.content(:breakpoints="['mobile', 'tablet']")
				.content__inner
					.cart.cart_order
						.loader(v-if="loading"): include ../../../../img/svg/btn-loader.svg
						.cart__title Оформление заказа
						template(v-if="cart.list.length")
							.cart__order
								.cart__order-form
									scroll-bar(:breakpoints="['compact', 'desktop']")
										form-wrap(ref="form").cart__form
											.cart__form-group
												.cart__form-title
													.cart__form-title-number 1
													.cart__form-title-text Заполните личные данные
												.form__wrap
													field(:field='fields.user_name', v-model='user_name')
													field(:field='fields.user_phone', v-model='user_phone')
													field(:field='fields.user_email', v-model='user_email')
											.cart__form-group
												.cart__form-title
													.cart__form-title-number 2
													.cart__form-title-text Адрес доставки

												.form__wrap
													field(:field='fields.user_address', v-model='user_address')

												.form__info(v-if="user_address === 'self'")
													.form__info-title Адрес самовывоза
													.form__info-content
														.form__info-label г.СПб, пр.Дальневосточный, ТЦ "Мебельвуд", секция 101, 1этаж
														.form__info-text
															.link(@click="$refs.popupLocation.open()") Посмотреть на карте

												.form__info(v-if="user_address === 'courier'")
													.form__info-content(v-if="getUserAddress")
														.form__info-label {{ getUserAddress }}
														.form__info-text
															.link(@click="$refs.popupAddress.open()") Изменить адрес
													template(v-else)
														.form__info-title Добавьте адрес доставки
														div: .btn.btn_fill(@click="$refs.popupAddress.open()") Добавить адрес


											.cart__form-group
												.cart__form-title
													.cart__form-title-number 3
													.cart__form-title-text Способ оплаты

												.form__wrap
													field(:field='fields.user_payment', v-model='user_payment')

								.cart__order-list
									.cart__order-list-items
										scroll-bar(:breakpoints="['compact', 'desktop']")
											.cart__order-list-inner
												.cart__list
													.cart__list-inner
														Item(v-for="item in cart.list", :key="item.id", :item="item", :class="{'is-loading': item.loading}")

									.cart__order-list-result
										.cart__result
											.cart__result-inner
												.cart__result-line
													.cart__result-name Товары
													.cart__result-value {{ cart.price }} руб.
												.cart__result-line
													.cart__result-name Скидка
													.cart__result-value {{ cart.discount }} руб.
												.cart__result-line.cart__result-line_all
													.cart__result-name Итого
													.cart__result-value {{ cart.price - cart.discount }} руб.
												.cart__result-btn
													.btn.btn_fill(@click="order()") Подтвердить и оплатить
						.cart__text(v-else-if="!firstload") Ваша карзина пуста.


			popup-location(:info="infoLocation", ref="popupLocation")
			popup-address(ref="popupAddress")
			popup(v-model="orderInfoPopup.open", icon="cart", @onClose="$router.push('/')").popup_info
				.popup__title {{ orderInfoPopup.title }}
				.popup__text {{ orderInfoPopup.text }}
				.popup__footer
					.btn.btn_fill(@click="orderInfoPopup.open = false") Закрыть




</template>

<script>
	import Menu from '../menu.vue'
	import Item from './item.vue'
	import PopupLocation from '../../../components/popup/popup-location'
	import PopupAddress from '../../../components/popup/popup-address'

	import {mapState, mapGetters} from 'vuex'

	export default {

		components: {
			Menu,
			Item,
			PopupLocation,
			PopupAddress
		},

		data () {
			return {
				popupLocation: true,
				infoLocation: {
					title: 'Самовывоз из офиса',
					address: 'СПб, пр-т. Дальневосточный 14, ТЦ "Мебельвуд", секция 101, 1 эт.',
					period: 'Работаем ежедневно с 11:00-20:00',
					email: 'info@sill.store',
					phone: '+ 7 (812) 500-09-45',
					coordinates: [59.910386, 30.448178],
				},
				loading: false,
				firstload: true,
				orderInfoPopup: {
					open: false,
					title: '',
					text: '',
				},

				fields: {
					user_name: {
						type: 'text',
						placeholder: 'Ваше имя',
						required: true,
						items: [],
					},
					user_phone: {
						type: 'text',
						placeholder: 'Телефон',
						mask: '+7 999 999-99-99',
						required: true,
					},
					user_email: {
						type: 'text',
						placeholder: 'Ваш e-mail',
						required: 'email',
					},
					user_address: {
						type: 'radiobox',
						required: true,
						items: [
							{
								value: 'courier',
								label: '<div class="form__input-title">Курьерская доставка</div><div class="form__input-text">От 125 руб.</div>',
							},
							{
								value: 'self',
								label: '<div class="form__input-title">Самовывоз из офиса</div><div class="form__input-text">Дальневосточный пр., д.14</div>',
							},
						],
						onChange: (value) => {
						},
						onKeyup: (value) => {}
					},
					user_payment: {
						type: 'radiobox',
						required: true,
						items: [
							{
								value: 'shop',
								label: '<div class="form__input-title">При получении</div><div class="form__input-text">Наличные / карта</div>',
							},
							{
								value: 'online',
								label: '<div class="form__input-title">Онлайн оплата</div><div class="form__input-text">Картой онлайн</div>',
							},
						],
						onChange: (value) => {
						},
						onKeyup: (value) => {}
					},
				},
			}
		},

		computed: {

			...mapState({
				cart: state => state.cart,
				orderData: state => state.cart.orderData,
				userAddress: state => state.cart.userAddress,
			}),

			...mapGetters({
				allowOrder: 'cart/allowOrder',
				getUserAddress: 'cart/getUserAddress'
			}),

			user_name: {
				get() {
					return this.orderData.name;
				},
				set(value) {
					this.$store.commit("cart/SET_ORDER_PROP", {name: 'name', value});
				}
			},

			user_phone: {
				get() {
					return this.orderData.phone;
				},
				set(value) {
					this.$store.commit("cart/SET_ORDER_PROP", {name: 'phone', value});
				}
			},

			user_email: {
				get() {
					return this.orderData.email;
				},
				set(value) {
					this.$store.commit("cart/SET_ORDER_PROP", {name: 'email', value});
				}
			},

			user_address: {
				get() {
					return this.orderData.address;
				},
				set(value) {
					this.$store.commit("cart/SET_ORDER_PROP", {name: 'address', value});
				}
			},

			user_payment: {
				get() {
					return this.orderData.payment;
				},
				set(value) {
					this.$store.commit("cart/SET_ORDER_PROP", {name: 'payment', value});
				}
			},

		},

		mounted (){
			this.getOrderList();
		},

		methods: {
			getOrderList(){

				this.loading = true;
				this.$store.dispatch('cart/list')
					.then(()=>{
						this.$store.dispatch('base/commonInfo');
					})
					.finally(()=>{
						this.loading = false;
						this.firstload = false;
					});
			},

			order(){

				this.$refs.form.validate()
					.then(()=>{
						if ( !this.allowOrder ){
							this.$snackbar({
								type: 'error',
								message: 'Укажите адрес доставки',
							})
						} else {

							this.$store.dispatch('cart/submit')
								.then(res => {
									if ( res.info_popup ){
										this.orderInfoPopup.open = true;
										this.orderInfoPopup.title = res.info_popup.title || 'Заказ оформлен';
										this.orderInfoPopup.text = res.info_popup.message || 'Спасибо за заказ, наш менеджер свяжется с вами.';
									}
								})
						}
					}, error => {
						this.$snackbar({
							type: 'error',
							message: 'Заполните все необходимые поля',
						})
					});

			}

		},

		watch: {

		},

	}
</script>

<style lang="scss">

</style>