<template lang="pug">
	.cart__item.cart__item_short
		.cart__item-inner
			.cart__item-top
				.cart__item-image: img(v-lazy='item.image')
				.cart__item-info
					.cart__item-title #[span {{ item.collection }}] {{item.name}}
					.cart__item-text
						p {{ parseInt(item.price * item.priceRatio)}} руб. {{item.dimension}}
						p Ширина {{item.model.width}}
						p Длина {{item.model.lgth}}
						p Количество {{item.model.quantity}}
			.cart__item-remove
				.btn.btn_icon(@click="remove"): icon(name="cart")

</template>

<script>

	export default {

		props: ['item'],

		data () {
			return {

			}
		},


		methods: {
			remove(){
				this.$store.dispatch('cart/remove', this.item.id)
					.then(()=>{
						this.$store.dispatch('base/commonInfo');
					});
			}
		}

	}
</script>

<style lang="scss">

</style>