$inputHeight: 30px;
$inputHeightDelta: 4px;
$inputBorderRadius: 4px;
$inputBorderRadiusDelta: 0;
$inputBorderColor: rgba($colorMain, .4);
$inputFormActiveColor: $colorMain;
$inputBorderWidth: 1px;
$inputBorderWidthDelta: 0;
$inputPaddingAside: 15px;
$inputPaddingAsideDelta: 0;
$inputFontSize: 12px;
$inputFontSizeDelta: 2px;


$breakPointForm: $breakPoint_tablet;

.form{
	font-size: 0;

	&__wrap{
		margin: 0 -5px -20px;
		font-size: 0;

		@include breakPoint($breakPoint_tablet){
			margin: 0 -10px -20px;
		}

		.form__field{
			display: inline-block;
			vertical-align: top;
			padding: 0 5px;

			@include breakPoint($breakPoint_tablet){
				padding: 0 10px;
			}
		}
	}

	&__title{
		margin-bottom: 5px;
		color: $colorMain;
		user-select: none;

		@include breakPoint($breakPoint_tablet){
			margin-bottom: 10px;
		}
	}

	&__field{
		margin-bottom: 15px;
		font-size: $inputFontSize;
		position: relative;
		box-sizing: border-box;
		width: 100%;

		@include breakPoint($breakPoint_tablet){
			font-size: ($inputFontSize + $inputFontSizeDelta);
			margin-bottom: 20px;
		}

		&_select.form__field_multiple{
			label{
				line-height: 1.2;
				height: auto;
				min-height: $inputHeight;

				@include breakPoint($breakPoint_tablet){
					min-height: ($inputHeight + $inputHeightDelta);
				}
			}
		}

		&_counter{

			.form__input{
				input{
					padding: 0 ($inputHeight);
					text-align: center;

					@include breakPoint($breakPoint_tablet){
						padding: 0 ($inputHeight + $inputHeightDelta);
					}
				}
			}
		}


		&_price{
			.form__input{
				font-size: 20px;
				font-weight: 400;

				@include breakPoint($breakPoint_tablet){
					font-size: 24px;
				}
			}
		}

		&_radiobox{

			.form__input{

				&-title{

				}

				&-text{
					font-size: 11px;
					color: $colorMain;

					@include breakPoint($breakPoint_tablet){
						font-size: 12px;
					}
				}

				&-content{
					padding: 5px 10px;
					cursor: pointer;

					@include breakPoint($breakPoint_tablet){
						padding: 8px 15px;
					}
				}
			}
		}
	}

	&__padding{
		padding: 0 10px;
	}


	&__group{
		display: inline-block;


		.form__field{
			//vertical-align: middle;

			&_checkbox{
				padding-top: 8px;
			}
		}

	}

	&__btn{
		text-align: center;
	}

	&__input{
		position: relative;

		select{
			opacity: 0;
			position: absolute;
			margin: 0;
			padding: 0;
			pointer-events: none;
		}

		&-content,
		select + label,
		input,
		textarea{
			box-sizing: border-box;
			border: $inputBorderWidth solid $inputBorderColor;
			width: 100%;
			font-size: $inputFontSize;
			display: block;
			//background: #fff;
			transition: all 0.3s ease;
			position: relative;
			border-radius: $inputBorderRadius;

			@include breakPoint($breakPointForm){
				border: ($inputBorderWidth + $inputBorderWidthDelta) solid $inputBorderColor;
				font-size: ($inputFontSize + $inputFontSizeDelta);
			}

			.is-filled &{

			}
			.is-focused &{
				border-color: $inputFormActiveColor;
				//z-index: 1;
			}
			.is-error &{
				border-color: $colorRed;
			}

		}

		select + label,
		input{
			height: $inputHeight;
			line-height: $inputHeight - (2 * $inputBorderWidth);
			border-radius: $inputBorderRadius;
			padding: 0 $inputPaddingAside;

			@include breakPoint($breakPoint_tablet){
				height: $inputHeight + $inputHeightDelta;
				line-height: $inputHeight + $inputHeightDelta - (2 * ($inputBorderWidth + $inputBorderWidthDelta));
				border-radius: $inputBorderRadius + $inputBorderRadiusDelta;
				padding: 0 ($inputPaddingAside + $inputPaddingAsideDelta);
			}

			.form__field_radiobox &{
				opacity: 0;
				position: absolute;
				pointer-events: none;
				width: 10px;
				height: 10px;


				&:checked{
					& ~ {
						label{
							border-color: $colorMain;
							background: rgba($colorMain, .5);
						}
					}
				}
			}

			.form__field_checkbox &,
			.form__field_radio &{
				opacity: 0;
				position: absolute;
				margin: 0;
				padding: 0;
				pointer-events: none;

				& + label{
					display: block;
					position: relative;
					padding: 4px 0 4px 30px;

					&:before{
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						width: 20px;
						height: 20px;
						box-sizing: border-box;
						cursor: pointer;
						border-radius: 2px;
						border: 1px solid $inputBorderColor;
						transition: all .3s ease;
						background-repeat: no-repeat;
						background-position: 50% 50%;
						background-size: contain;
					}
				}

				&:checked{
					& + label{
						&:before{
							border-color: $inputFormActiveColor;
							background-color: $inputFormActiveColor;
							background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 38 38'%3E%3Cpath fill='%23f0f0f0' d='M31,13.1L14.5,28.6L7,21.1l3.5-3.5l4.1,4.1l13-12.2L31,13.1z'/%3E%3C/svg%3E%0A");
						}
					}
				}
			}


			.form__field_checkbox &{
				&:checked{
					& + label{
						&:before{
							background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 38 38'%3E%3Cpath fill='%23f0f0f0' d='M31,13.1L14.5,28.6L7,21.1l3.5-3.5l4.1,4.1l13-12.2L31,13.1z'/%3E%3C/svg%3E%0A");
						}
					}
				}
			}


			.form__field_radio &{
				& + label{
					&:before{
						border-radius: 50%;
					}
				}
				&:checked{
					& + label{
						&:before{
							background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 40'%3E%3Ccircle fill='%23ffffff' cx='20' cy='20' r='10'/%3E%3C/svg%3E%0A");
						}
					}
				}
			}

		}

		select + label{
			position: relative;
			padding-right: 35px;

			&:before,
			&:after{
				content: '';
				width: 6px;
				height: 2px;
				background: $colorMain;
				position: absolute;
				top: 50%;
				right: 15px;
				border-radius: 10px;
				transition: all .3s ease;

				.is-error &{
					opacity: 0;
				}
			}

			&:before{
				transform: rotate(45deg);
				margin-right: 1px;

				.is-focused &{
					transform: rotate(-45deg);
				}
			}

			&:after{
				transform: rotate(-45deg);
				margin-right: -2px;

				.is-focused &{
					transform: rotate(45deg);
				}
			}
		}

		textarea{
			border-radius: $inputBorderRadius;
			padding: (($inputHeight - (2 * $inputBorderWidth) - $inputFontSize ) / 2) $inputPaddingAside;
			line-height: 1.5;
			height: 100px;
			overflow: auto;

			@include breakPoint($breakPointForm){
				border-radius: $inputBorderRadius + $inputBorderRadiusDelta;
				padding: ((($inputHeight + $inputHeightDelta) - (2 * ($inputBorderWidth + $inputBorderWidthDelta)) - ($inputFontSize + $inputFontSizeDelta) ) / 2) ($inputPaddingAside + $inputPaddingAsideDelta);
			}
		}

		.form__field_disabled &{
			opacity: .5;
		}


		&-group{
			display: flex;

			input,
			.btn{
				border-radius: 0;

				&:first-child{
					border-radius: $inputBorderRadius 0 0 $inputBorderRadius;

					@include breakPoint($breakPoint_tablet){
						border-radius: ($inputBorderRadius + $inputBorderRadiusDelta) 0 0 ($inputBorderRadius+ $inputBorderRadiusDelta);
					}
				}

				&:last-child{
					border-radius: 0 $inputBorderRadius $inputBorderRadius 0;

					@include breakPoint($breakPoint_tablet){
						border-radius: 0 ($inputBorderRadius + $inputBorderRadiusDelta) ($inputBorderRadius + $inputBorderRadiusDelta) 0;
					}
				}
			}
		}
	}

	&__count{

		position: absolute;
		top: 0;
		height: $inputHeight;
		box-sizing: border-box;
		width: $inputHeight;
		cursor: pointer;
		max-width: 30%;
		user-select: none;

		@include breakPoint($breakPointForm){
			height: $inputHeight + $inputHeightDelta;
			width: $inputHeight + $inputHeightDelta;
		}

		&_down{
			left: 0;
			border-right: $inputBorderWidth solid $inputBorderColor;

			@include breakPoint($breakPointForm){
				border-right-width: ($inputBorderWidth + $inputBorderWidthDelta);
			}

			&:after{
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 9px;
				height: 2px;
				background: $colorMain;
				opacity: 0.5;
			}
		}
		&_up{
			right: 0;
			border-left: $inputBorderWidth solid $inputBorderColor;

			@include breakPoint($breakPointForm){
				border-left-width: ($inputBorderWidth + $inputBorderWidthDelta);
			}

			&:before,
			&:after{
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 9px;
				height: 2px;
				background: $colorMain;
				opacity: 0.5;
			}

			&:after{
				transform: translate(-50%, -50%) rotate(90deg);
			}
		}

		&:hover{
			&:before,
			&:after{
				opacity: 1;
			}
		}
	}

	&__placeholder{
		position: absolute;
		pointer-events: none;
		left: $inputPaddingAside + $inputBorderWidth - 5px;
		top: 0;
		line-height: $inputHeight;
		font-size: $inputFontSize;
		transition: all .3s ease;
		background: transparent;
		padding: 1px 5px;
		user-select: none;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		max-width: calc(100% - #{2 * $inputPaddingAside});
		color: $colorMain;

		@include breakPoint($breakPointForm){
			left: $inputPaddingAside + $inputPaddingAsideDelta + $inputBorderWidth + $inputBorderWidthDelta - 5px;
			line-height: $inputHeight + $inputHeightDelta;
			font-size: $inputFontSize + $inputFontSizeDelta;
			max-width: calc(100% - #{2 * ($inputPaddingAside + $inputPaddingAsideDelta)});
		}


		.is-filled &,
		.is-focused &{
			opacity: 0;
			//font-size: 0.80em;
			//top: -7px;
			//background: #fff;
			//line-height: 1em;
		}
		.is-error &{

		}
	}

	&__dropdown{
		position: absolute;
		top: calc(100% - 1px);
		left: 0;
		right: 0;
		z-index: 1;
		border-radius: 0 0 $inputBorderRadius $inputBorderRadius;
		//box-shadow: 0 0 10px  rgba(0,0,0,0.3);
		border: $inputBorderWidth solid $inputFormActiveColor;
		background: $colorBackgroundBlack;
		overflow: auto;

		@include breakPoint($breakPoint_tablet){
			border-radius: 0 0 ($inputBorderRadius + $inputBorderRadiusDelta) ($inputBorderRadius+ $inputBorderRadiusDelta);
			border-width: $inputBorderWidth + $inputBorderWidthDelta;
		}

		.wrapper_light &{
			background: $colorBackgroundWhite;
		}

		&_top{
			top: auto;
			bottom: calc(100% - 1px);
			border-radius: $inputBorderRadius $inputBorderRadius 0 0;

			@include breakPoint($breakPoint_tablet){
				border-radius: ($inputBorderRadius + $inputBorderRadiusDelta) ($inputBorderRadius+ $inputBorderRadiusDelta) 0 0;
			}
		}

		&-list{
			max-height: 200px;
			overflow: auto;
		}
		&-item{
			cursor: pointer;
			padding: 5px $inputPaddingAside;
			transition: background-color 0.3s ease;
			user-select: none;

			@include breakPoint($breakPointForm){
				padding: 5px ($inputPaddingAside + $inputPaddingAsideDelta);
			}

			&:hover{
				background: rgba($inputFormActiveColor, .1);
			}

			&.is-active{
				background: rgba($inputFormActiveColor, .2);
				cursor: default;
			}
		}
	}

	&__error{
		position: absolute;
		top: 9px;
		right: 8px;
		width: 18px;
		height: 18px;

		svg.icon{
			display: block;
			width: 100%;
			height: 100%;
		}
	}


	&__ico{
		position: absolute;
		width: 24px;
		height: 24px;
		fill: currentColor;
		top: 7px;
		right: 10px;


		.is-focused &{
			color: $inputFormActiveColor;
		}
	}


	&__multi{
		font-size: 0;
		padding: 5px 0;

		&__item{
			display: inline-flex;
			margin: 2px 5px 2px 0;
			border: 1px solid $inputBorderColor;
			border-radius: 30px;
			font-size: $inputFontSize;
			align-items: center;
			max-width: 100%;

			@include breakPoint($breakPointForm){
				font-size: $inputFontSize + $inputFontSizeDelta;
			}
		}

		&__text{
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			padding: 0 5px 0 10px;
			height: 20px;
			line-height: 20px;
			font-size: 0.9em;
		}
		&__remove{
			height: 20px;
			width: 20px;
			min-width: 20px;
			//border-left: 1px solid #fff;
			cursor: pointer;
			border-radius: 0 30px 30px 0;
			position: relative;

			&:before,
			&:after{
				content: '';
				display: inline-block;
				position: absolute;
				top: 50%;
				left: 50%;
				width: 10px;
				height: 2px;
				background: $inputBorderColor;
				margin-top: -1px;
				margin-left: -5px;
			}

			&:before{
				transform: rotate(45deg);
			}

			&:after{
				transform: rotate(-45deg);
			}

			&:hover{
				&:before,
				&:after{
					background: $inputFormActiveColor;
				}
			}
		}
	}


	&__info{
		margin-top: 18px;
		&-title{
			font-size: 12px;
			color: $colorMain;
			margin-bottom: 12px;
		}
		&-content{
			display: flex;
			align-items: center;
			flex-wrap: wrap;
		}

		&-label{
			font-size: 14px;
			color: #fff;
			padding: 9px 20px;
			background: rgba($colorMain, .2);
			border-radius: 4px;
			border: 1px solid $colorMain;
			margin-right: 20px;
		}
		&-text{
			margin: 5px 0;
			.link{
				font-size: 12px;
				text-decoration: underline;
				color: $colorMain;
				cursor: pointer;
				white-space: nowrap;
			}
		}
	}
}






