
html{
	height: 100%;
}

body{
	height: 100%;
	font-family: $fontMain;
	font-size: 12px;
	font-weight: 300;
	line-height: 1.5;
	overflow-x: hidden;
	padding: 0!important;

	@include breakPoint($breakPoint_tablet){
		font-size: 14px;
	}


}


img{
	max-width: 100%;
	max-height: 100%;
}

svg{
	fill: currentColor;
}

.btn{
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	text-align: center;
	padding: 0 25px;
	background: transparent;
	color: $colorMain;
	height: 30px;
	line-height: 30px;
	user-select: none;
	border: 1px solid $colorMain;
	border-radius: 50px;
	position: relative;
	transition: all 0.3s ease;
	font-size: 12px;
	margin: 0 2px;
	box-sizing: border-box;

	@include breakPoint($breakPoint_tablet){
		font-size: 14px;
		height: 40px;
		line-height: 40px;
		padding: 0 30px;
	}



	&:before,
	&:after{
		content: '';
		display: block;
		position: absolute;
		width: 3px;
		height: 3px;
		border-radius: 50%;
		background: currentColor;
		top: 50%;
		transform: translate(-50%, -50%);
		transition: transform 0.1s ease-out .2s, left 0.2s ease-in;

	}

	&:before{
		left: 0;
		margin-left: -1px;
		transform-origin: 15px 0;

		@include breakPoint($breakPoint_tablet){
			transform-origin: 20px 0;
		}
	}

	&:after{
		left: 100%;
		margin-left: 1px;
		transform-origin: -15px 0;

		@include breakPoint($breakPoint_tablet){
			transform-origin: -20px 0;
		}
	}

	&:hover{
		background-color: rgba($colorMain, .2);

		&:before,
		&:after{;
			transition: transform 0.1s ease-in, left 0.2s ease-out .1s;
		}

		&:before{
			transform: rotate(90deg) translate(-50%, -50%);
			left: calc(50% - 14px);

			@include breakPoint($breakPoint_tablet){
				left: calc(50% - 19px);
			}
		}

		&:after{
			transform: rotate(90deg) translate(-50%, -50%);
			left: calc(50% + 14px);

			@include breakPoint($breakPoint_tablet){
				left: calc(50% + 20px);
			}
		}

	}

	&_fill{
		background-color: $colorMain;
		color: #fff;

		&:hover{
			background-color: rgba($colorMain, .5);
		}
	}

	&_icon{
		padding: 0 14px;

		@include breakPoint($breakPoint_tablet){
			padding: 0 19px;
		}


		&:before,
		&:after{
			transition: transform 0.3s ease-in-out;
		}

		&:hover{
			&:before,
			&:after{
				transition: transform 0.3s ease-in-out;
			}
		}

		svg{
			margin-left: 0!important;
			max-width: 100%;
		}
	}


	&__count{
		min-width: 16px;
		box-sizing: border-box;
		height: 16px;
		background-color: #fff;
		border-radius: 16px;
		font-size: 11px;
		color: $colorMain;
		text-align: center;
		line-height: 16px;
		position: absolute;
		top: -5px;
		right: -5px;
		font-family: 'Arial', sans-serif;
	}

	&_loading{
		color: transparent !important;
		background-image: url("../../img/svg/btn-loader.svg");
		background-size: auto 80%;
	}


	&.is-disable{
		opacity: 0.5!important;
		pointer-events: none!important;
	}


	svg{
		position: absolute;
		top: 0;
		left: 0;
		width: 30px;
		height: 100%;
		margin-left: 10px;

		@include breakPoint($breakPoint_tablet){
			width: 40px;
		}

		& ~ span {
			display: inline-block;
			padding-left: 17px;
		}
	}
}

.tag{
	font-size: 12px;
	padding: 5px 15px 5px;
	background: transparent;
	color: $colorMain;
	user-select: none;
	border: 1px solid rgba($colorMain, .5);
	border-radius: 4px;
	display: inline-block;
	margin: 0 10px 10px 0;

	@include breakPoint($breakPoint_tablet){
		font-size: 14px;
		padding: 6px 20px 6px;

	}
}



.wrapper{
	background: $colorBackgroundBlack;
	color: $colorText;
	min-height: 100vh;
	overflow: hidden;

	&_light{
		background: $colorBackgroundWhite;
		color: $colorTextDark;
	}

	&__inner{
		display: flex;
		flex-direction: column;
		height: 100vh;
	}

	&__body{
		box-sizing: border-box;
		flex: 1 1 0;

		.inner{
			height: 100%;
			position: relative;
		}
	}

	&.is-menu-open{
		//height: 100%;
	}
}


.inner{
	padding: 0 $wrapPaddingMobile;

	@include breakPoint($breakPoint_tablet){
		padding: 0 $wrapPaddingTablet;
	}

	@include breakPoint($breakPoint_desktop){
		padding: 0 $wrapPaddingDesktop;
	}

}




.header{
	height: $headerHeight;
	background: $colorBackgroundBlack;
	position: relative;
	z-index: 2;

	.wrapper_light &{
		background: $colorBackgroundWhite;
	}


	@include breakPoint($breakPoint_tablet){
		height: $headerHeightT;
	}

	@include breakPoint($breakPoint_desktop){
		height: $headerHeightD;
	}


	.inner{
		display: flex;
		align-items: center;
		height: 100%;
	}

	&__handler{
		width: 30px;
		min-width: 30px;
		height: 30px;
		cursor: pointer;
		position: relative;
		margin-right: 25px;

		@include breakPoint($breakPoint_tablet){
			width: 46px;
			min-width: 46px;
			height: 46px;
			margin-right: 35px;
		}

		i{
			height: 1px;
			background: $colorMain;
			position: absolute;
			top: 50%;
			margin-top: -.5px;
			width: 24px;
			right: 0;
			transition: all .3s ease;

			.is-menu-open &{
				width: 1px;
				background: transparent!important;
			}

			@include breakPoint($breakPoint_tablet){
				width: 36px;
			}

			&:before,
			&:after{
				content: '';
				height: 1px;
				background: $colorMain;
				position: absolute;
				width: 29px;
				right: 0;
				transition: all .3s ease;
				transform: rotate(0);

				@include breakPoint($breakPoint_tablet){
					width: 46px;
				}
			}

			&:before{
				top: -9px;

				.is-menu-open &{
					top: 0!important;
					transform: rotate(45deg);
				}
			}

			&:after{
				top: 9px;

				.is-menu-open &{
					top: 0!important;
					transform: rotate(135deg);
				}
			}
		}

		&:hover{
			i{
				background: $colorMainLight;
				&:before{
					top: -15px;
					background: $colorMainLight;
				}
				&:after{
					background: $colorMainLight;
					top: 15px;
				}
			}
		}
	}

	&__logo{

	}

	&__menu{
		flex: 1 1 auto;
		text-align: right;

		&-phone{
			display: none;
			font-size: 20px;
			color: $colorMain;

			@include breakPoint($breakPoint_desktop){
				display: inline-block;
				vertical-align: middle;
			}
		}

		.btn{
			margin-left: 15px;

			@include breakPoint($breakPoint_tablet){
				margin-left: 22px;
			}
		}


		.vp-d{

			@include breakPoint(0, $breakPoint_desktop){
				display: none !important;
			}
		}
		.vp-t{
			@include breakPoint($breakPoint_desktop){
				display: none !important;
			}
		}
	}

}



.loader{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80px;
	height: 80px;
	z-index: 10;

	circle{
		fill: $colorMain;
	}
}




.nav{
	position: fixed;
	top: $headerHeight;
	left: 0;
	right: 0;
	background: $colorBackgroundBlack;
	z-index: 10;
	bottom: 0;

	@include hideScroll;

	.is-touch &{
		overflow: auto;
	}

	@include breakPoint($breakPoint_tablet){
		top: $headerHeightT;
		height: calc(100% - #{$headerHeightT});
	}

	@include breakPoint($breakPoint_desktop){
		top: $headerHeightD;
		height: calc(100% - #{$headerHeightD});
	}

	.wrapper_light &{
		background: $colorBackgroundWhite;
	}

	.inner{
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	&__menu{
		flex: 1 1 auto;
		text-align: center;
	}

	&__list{
		font-size: 20px;
		color: $colorMain;
		font-family: $fontTitle;
		padding: 40px 0;

		@include breakPoint($breakPoint_tablet){
			font-size: 24px;
			padding: 80px 0 30px;
		}
	}

	&__item{
		margin-bottom: 55px;

		@include breakPoint($breakPoint_tablet){
			margin-bottom: 70px;
		}

		&:last-child{
			margin-bottom: 0;
		}
	}

	&__link{
		&:hover{
			color: $colorMainLight;
		}

		&.is-active{
			color: $colorText;

			.wrapper_light &{
				color: $colorTextDark;
			}
		}
	}

	&__footer{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px 0;

		@include breakPoint(0, $breakPoint_tablet){
			flex-wrap: wrap;
			text-align: center;
		}

		@include breakPoint($breakPoint_tablet){
			padding: 30px 0;
		}

		&-subscribe{

			@include breakPoint($breakPoint_tablet){
				order: 2;
				width: (100% / 3);
				text-align: center;
			}
		}

		&-soc{
			text-align: right;

			@include breakPoint($breakPoint_tablet){
				order: 2;
				width: (100% / 3);
			}

			&-text{
				display: none;
				color: $colorMain;

				@include breakPoint($breakPoint_desktop){
					display: inline-block;
					vertical-align: middle;
				}
			}

			.btn{
				margin-left: 10px;
				vertical-align: middle;

				@include breakPoint($breakPoint_tablet){
					margin-left: 15px;
				}
			}
		}

		&-copy{
			color: $colorMain;

			@include breakPoint(0, $breakPoint_tablet){
				width: 100%;
				margin: 23px 0 0;
			}

			@include breakPoint($breakPoint_tablet){
				order: 1;
				width: (100% / 3);
			}
		}
	}
}



.side{
	position: relative;
	height: 100%;
	width: 100%;
	box-sizing: border-box;

	@include breakPoint(0, $breakPoint_desktop){
		background: $colorBackgroundBlack;

		.wrapper_light &{
			background: $colorBackgroundWhite;
		}

		.menu{
			z-index: 1;
			position: relative;
		}

		.filter__handler{
			z-index: 2;
		}

	}


	@include breakPoint($breakPoint_desktop){

		&.scrollbar{
			position: absolute;
			top: 0;
			right: 0;

			@include hideScroll;
		}
	}

	&__inner{
		@include breakPoint($breakPoint_desktop){

		}
	}
}

.content{
	height: 100%;
	width: 100%;
	box-sizing: border-box;

	&.scrollbar{
		position: absolute;
		top: 0;
		right: 0;


		@include hideScroll;
	}

	&_columns{
		&.scrollbar{
			position: static;
		}
	}


	@include breakPoint(0, $breakPoint_tablet){

	}

	@include breakPoint($breakPoint_tablet, $breakPoint_desktop){

	}

	@include breakPoint($breakPoint_desktop){

	}

	&__wide{

		padding: 0 $wrapPaddingMobile;

		@include breakPoint($breakPoint_tablet){
			padding: 0 $wrapPaddingTablet;
		}

		@include breakPoint($breakPoint_desktop){
			padding: 0 $wrapPaddingDesktop;
		}
	}

	&__inner{
		height: 100%;
		box-sizing: border-box;

		@include breakPoint($breakPoint_desktop){
			width: 100%;
		}

		.page__content &{
			padding: 0 ($wrapPaddingMobile);

			@include breakPoint($breakPoint_tablet){
				padding: 0 ($wrapPaddingTablet);
			}

			@include breakPoint($breakPoint_desktop){
				padding: 0 $wrapPaddingDesktop 0 0;
			}
		}
	}

	&__box{

		@include breakPoint($breakPoint_compact){
			margin: 0 (-$gap_compact / 2);
			height: 100%;
		}

		.content__inner{
			box-sizing: border-box;

			@include breakPoint($breakPoint_compact){
				padding: 0 ($gap_compact / 2);
				width: (7 * 100% / 10);
			}

			@include breakPoint($breakPoint_desktop){
				padding: 0 ($gap_compact / 2);
				width: (7 * 100% / 8);
			}
		}
	}
}




.menu{
	color: $colorMain;
	padding-bottom: 10px;
	padding-top: 15px;

	@include breakPoint($breakPoint_tablet){
		font-size: 16px;
		padding-top: 18px;
	}

	@include breakPoint($breakPoint_desktop){
		margin: 0;
		padding-bottom: 0;
		height: auto;
		overflow: visible;
	}

	&__scroll{
		white-space: nowrap;
		overflow: hidden;
		margin: 0 (-$wrapPaddingMobile);
		padding: 0 $wrapPaddingMobile;


		@include breakPoint($breakPoint_tablet){
			margin: 0 (-$wrapPaddingTablet);
			padding: 0 $wrapPaddingTablet;
		}

		@include breakPoint($breakPoint_desktop){
			margin: 0;
			padding: 0;
			white-space: normal;
		}

	}

	&__inner{

		@include breakPoint($breakPoint_tablet){

		}

		@include breakPoint($breakPoint_desktop){

		}
	}


	&__item{
		display: inline-block;
		margin-right: 33px;

		@include breakPoint($breakPoint_tablet){
			margin-right: 43px;
		}

		@include breakPoint($breakPoint_desktop){
			margin-right: 0;
			margin-left: 20px;
			display: block;
			margin-bottom: 16px;
		}

		&_title{
			@include breakPoint($breakPoint_desktop){
				margin-left: 0;
			}
		}
	}

	&__link{
		position: relative;
		cursor: pointer;
		user-select: none;

		&:before{
			content: '';
			width: 3px;
			height: 3px;
			border-radius: 50%;
			background: transparent;
			transition: all 0.3s ease;
			position: absolute;
			left: -15px;
			top: 7px;

			@include breakPoint($breakPoint_tablet){
				left: -15px;
				top: 10px;
			}

			@include breakPoint($breakPoint_desktop){
				left: -17px;
				top: 10px;
			}
		}

		&:hover{
			color: $colorMainLight;
		}

		&.is-active{
			color: $colorText;
			cursor: default;

			&:before{
				background: currentColor;
			}
		}
	}

	&__group{

		@include breakPoint(0, $breakPoint_desktop){
			display: inline-block;
		}

		& > .menu__item > .menu__link{
			&:before{
				width: 5px;
				height: 5px;
				border-radius: 0;
				background: transparent;
				border-top: 1px solid #fff;
				border-right: 1px solid #fff;
				transform: translate(-50%, -50%) rotate(45deg);
				left: -15px;
				top: 9px;

				@include breakPoint($breakPoint_tablet){
					top: 13px;
				}

				@include breakPoint($breakPoint_desktop){
					top: 13px;
				}
			}

			&.is-active{
				&:before{
					transform: translate(-50%, -50%) rotate(135deg);
					top: 8px;

					@include breakPoint($breakPoint_tablet){
						top: 11px;
					}

					@include breakPoint($breakPoint_desktop){

					}
				}
			}
		}
	}

	&__submenu{

	}
}



// custom transitions
.v-enter-active, .v-leave-active {
	transition: all .3s ease;
	opacity: 1;
}
.v-enter, .v-leave-to {
	opacity: 0;
}

// custom transitions
.zoom-enter-active, .zoom-leave-active {
	transition: all .3s ease;
	opacity: 1;
	transform: scale(1);
}
.zoom-enter, .zoom-leave-to {
	opacity: 0;
	transform: scale(0.5);
}





// layout transitions
.menu-enter-active, .menu-leave-active {
	transition: all .5s ease;

	.nav__menu{
		transition: all .5s ease;
		transform: translateY(0);
		//filter: blur(0);
	}

	.nav__footer{
		transition: all .5s ease;
		transform: translateY(0);
		//filter: blur(0);
	}

}
.menu-enter, .menu-leave-to {
	opacity: 0;

	.nav__menu{
		transform: translateY(-20%);
		//filter: blur(5px);
	}

	.nav__footer{
		transform: translateY(50%);
		//filter: blur(5px);
	}
}



// page transitions
.page-enter-active, .page-leave-active {
	transition: all .3s ease;

	.content{
		opacity: 1;
		transition: all .3s ease;
	}

}
.page-enter, .page-leave-to {

	.content{
		opacity: 0;
	}
}

