
.theme-handler{
	position: fixed;
	bottom: 0;
	left: 0;
	color: $colorMain;
	cursor: pointer;
	z-index: 2000;

	&:before,
	&:after{
		content: '';
		display: block;
		position: fixed;
		left: 0;
		bottom: 0;
		transform: translate(-50%, 50%);
		background: $colorBackgroundWhite;
		width: 80px;
		height: 80px;
		transition: all .3s ease;
		border-radius: 50%;
		pointer-events: none;
		opacity: 1;

		.wrapper_light &{
			background: $colorBackgroundBlack;
		}
	}


	svg{
		width: 24px;
		height: 24px;
		position: absolute;
		bottom: 5px;
		left: 4px;
		transition: all .3s ease;
		z-index: 1;
	}

	&:hover{
		width: 47px;
		height: 47px;
		color: $colorMain;

		svg{
			width: 27px;
			height: 27px;
			bottom: 7px;
			left: 5px;
		}

		&:before,
		&:after{
			width: 100px;
			height: 100px;
		}
	}

	&.is-action{

		&:before{
			animation: changeTheme ease-in-out 1s;
			animation-iteration-count: 1;
			animation-fill-mode: forwards;
		}
	}
}

@keyframes changeTheme{
	0% {
		width: 100px;
		height: 100px;

	}
	70% {
		width: 600vw;
		height: 600vw;
		opacity: 1;
	}
	100% {
		width: 600vw;
		height: 600vh;
		opacity: 0;
	}
}


.text{
	color: $colorMain;
	line-height: (18 / 12);
	font-size: 14px;

	h1, h2{
		font-family: $fontTitle;
		color: $colorMain;
		font-size: 20px;
		margin-bottom: 15px;

		@include breakPoint($breakPoint_tablet){
			font-size: 24px;
			margin-bottom: 20px;
		}
	}

	h3{
		margin: 30px 0 15px;
		color: $colorText;
		font-size: 18px;

		@include breakPoint($breakPoint_tablet){
			font-size: 20px;
			margin: 40px 0 20px;
		}
	}

	p{
		margin: 10px 0;

		@include breakPoint($breakPoint_tablet){
			font-size: 14px;
			margin-bottom: 15px;
		}
	}

	ul{
		margin: 0 0 0 15px;
	}

	li{
		position: relative;
		margin: 10px 0;

		&:before{
			content: '';
			width: 3px;
			height: 3px;
			border-radius: 50%;
			background: $colorMain;
			position: absolute;
			left: -15px;
			top: 11px;
		}
	}

	.color{
		color: $colorText;
	}

	blockquote{
		color: #fff;
		padding: 12px 15px;
		background: rgba($colorMain, .2);
		border-radius: 4px;
		border: 1px solid $colorMain;
		margin: 20px 0;

		@include breakPoint($breakPoint_tablet){
			padding: 12px 20px;
			margin: 30px 0;
		}
	}
}


.contacts{
	box-sizing: border-box;

	&_map{
		height: 100%;
	}

	@include breakPoint($breakPoint_compact){
		height: 100%;
	}

	&__address{
		box-sizing: border-box;
		@include breakPoint($breakPoint_compact){
			display: flex;
			flex-direction: column;
			min-height: 100%;
			padding-bottom: 30px;
		}

		&-main{
			@include breakPoint($breakPoint_compact){
				flex: 1 1 0;
			}

		}
	}

	&__content{
		padding-bottom: 30px;
		box-sizing: border-box;

		@include breakPoint($breakPoint_compact){
			min-height: 100%;
		}

		.contacts__case_main &{

			@include breakPoint($breakPoint_compact){
				padding-right: ($wrapPaddingTablet);
			}

			@include breakPoint($breakPoint_desktop){
				padding-right: ($wrapPaddingDesktop);
			}
		}
	}

	&__inner{
		@include breakPoint($breakPoint_compact){
			display: flex;
			height: 100%;
			margin: 0 (-$gap_compact / 2);
		}

		.contacts_map &{
			height: 100%;

			@include breakPoint(0, $breakPoint_compact){
				display: flex;
				flex-direction: column;
			}
		}
	}

	&__case{
		box-sizing: border-box;
		@include breakPoint($breakPoint_compact){
			padding: 0 ($gap_compact / 2);
		}

		&-inner{
			position: relative;

			@include breakPoint($breakPoint_compact){
				height: 100%;
			}

			.contacts__case_main &{

				@include breakPoint($breakPoint_compact){
					margin-right: (-$wrapPaddingTablet);
				}

				@include breakPoint($breakPoint_desktop){
					margin-right: (-$wrapPaddingDesktop);
				}
			}
		}

		&_aside{
			transition: opacity 0.5s ease;
			margin-bottom: 30px;

			@include breakPoint($breakPoint_compact){
				margin-bottom: 0;
				width: (3 * 100% / 10);
				min-width: (3 * 100% / 10);

				display: flex;
				flex-direction: column;
			}

			@include breakPoint($breakPoint_desktop){
				width: 25%;
				min-width: 25%;
			}

			.show-map &{

				@include breakPoint(0, $breakPoint_compact){
					opacity: 0.4;
				}
			}
		}

		&_main{
			@include breakPoint($breakPoint_compact){
				width: (7 * 100% / 10);
				min-width: (7 * 100% / 10);
			}

			@include breakPoint($breakPoint_desktop){
				width: 75%;
				min-width: 75%;
			}
		}

		&_transport{
			@include breakPoint($breakPoint_compact){
				box-sizing: border-box;
				width: 75%;
				min-width: 75%;
			}

		}

		&_map{

			@include breakPoint(0, $breakPoint_compact){
				flex: 1 1 0;

				.contacts__case-inner{
					width: 100%;
					height: 100%;
					position: relative;
				}
			}
		}

	}
	&__title{
		font-family: $fontTitle;
		color: $colorMain;
		font-size: 20px;
		margin-bottom: 15px;

		@include breakPoint($breakPoint_tablet){
			font-size: 24px;
			margin-bottom: 20px;
		}
	}

	&__text{
		margin-bottom: 10px;
		font-size: 14px;

		@include breakPoint($breakPoint_tablet){
			font-size: 16px;
			margin-bottom: 15px;
		}
	}
	&__note{
		color: $colorMain;
		margin-bottom: 15px;

		@include breakPoint($breakPoint_tablet){
			margin-bottom: 20px;
		}
	}
	&__action{
		margin-bottom: 20px;
		font-size: 14px;

		@include breakPoint($breakPoint_tablet, $breakPoint_desktop){
			display: flex;
			align-items: center;
			flex-wrap: wrap;
		}

		@include breakPoint($breakPoint_tablet){
			font-size: 16px;
		}

		@include breakPoint($breakPoint_desktop){
			flex: 1 1 auto;
		}

		&-item{
			margin-bottom: 12px;
			display: flex;
			align-items: center;

			@include breakPoint($breakPoint_tablet){
				margin-right: 45px;
				margin-bottom: 20px;
			}
		}

		&-icon{
			margin-right: 16px;
			font-size: 0;
		}

		&-text{
		}
	}

	&__soc{
		color: $colorMain;
		display: flex;
		align-items: center;

		@include breakPoint($breakPoint_tablet){

		}

		&-text{
			margin-right: 20px;
		}

		&-item{
			margin-right: 12px;

			@include breakPoint($breakPoint_tablet){
				margin-right: 17px;
			}
		}
	}

	&__transport{
		margin-bottom: 20px;
		break-inside: avoid;

		@include breakPoint($breakPoint_tablet){
			margin-bottom: 27px;
		}

		&-wrap{
			@include breakPoint($breakPoint_desktop){
				columns: 2;
				column-gap: 20px;
			}
		}

		&-title{
			font-size: 18px;
			margin-bottom: 15px;

			@include breakPoint($breakPoint_tablet){
				font-size: 20px;
			}
		}

		&-item{
			display: flex;
			margin-bottom: 5px;
			align-items: baseline;
			color: $colorMain;
		}

		&-icon{
			position: relative;
			top: 14px;
			width: 40px;
			min-width: 40px;
			height: 40px;
			margin: -22px 0 0 -14px;

			.icon{
				width: 100%;
				height: 100%;
			}
		}

		&-text{

			span{
				display: inline-block;
				font: inherit;
				vertical-align: middle;
				color: #fff;
				border: 1px solid $colorMain;
				background: rgba($colorMain, .5);
				height: 18px;
				line-height: 18px;
				border-radius: 4px;
				min-width: 10px;
				text-align: center;
				padding: 0 5px;
				margin: 4px;

				@include breakPoint($breakPoint_tablet){
					height: 20px;
					line-height: 20px;
					min-width: 12px;
				}
			}
		}
	}

	&__mall{

		@include breakPoint($breakPoint_tablet, $breakPoint_compact){
			display: flex;
			flex-wrap: wrap;
		}

		&-title{
			font-size: 20px;
			font-family: $fontTitle;
			text-align: center;
			color: $colorMain;
			margin-bottom: 30px;

			@include breakPoint($breakPoint_tablet){
				font-size: 24px;
			}

			@include breakPoint($breakPoint_tablet, $breakPoint_compact){
				width: 100%;
				text-align: left;
			}
		}

		&-map{
			height: 220px;
			margin-bottom: 25px;
			text-align: center;

			@include breakPoint($breakPoint_tablet){
				height: auto;
			}

			@include breakPoint($breakPoint_tablet, $breakPoint_compact){
				width: 80%;
				order: 2;
				margin-top: -30px;
				box-sizing: border-box;
				padding: 0 50px;
			}

			&-item{
				height: 100%;
				width: auto;

				@include breakPoint($breakPoint_tablet){
					height: auto;
					max-width: 100%;
				}
			}

			&-floor{
				fill: #493c37;
			}

			&-room{
				fill: #694e44;
			}

			&-stair,
			&-shop {
				fill: #e9967a;
			}

			&-enter{
				fill: #e1d3cb;
			}

			&-path1,
			&-path2{
				fill: none;
				stroke: #E1D3CB;
				stroke-width: 2;
				stroke-linecap: round;
				stroke-dasharray: 0,8;
			}


			&-point1,
			&-point2{
				fill: #e9967a;

				&.is-hidden{
					display: none;
				}
			}

			&-pacman{
				fill: #e9967a;
				opacity: 0;
				pointer-events: none;

				&.is-animate {
					opacity: 1;
				}

				&-path{
					fill: none;
					stroke: #493c37;
					stroke-width: 4;
					stroke-linecap: round;
				}
			}


		}

		&-legend{
			margin: 0 auto;
			max-width: 250px;

			@include breakPoint($breakPoint_tablet){
				max-width: 545px;
			}

			@include breakPoint($breakPoint_tablet, $breakPoint_compact){
				width: 20%;
			}

			&-list{
				display: flex;
				flex-wrap: wrap;
				align-self: center;
				justify-content: space-between;

				@include breakPoint($breakPoint_tablet, $breakPoint_compact){
					display: block;
				}
			}
			&-item{
				display: flex;
				align-self: center;
				margin-bottom: 20px;

				@include breakPoint($breakPoint_tablet, $breakPoint_compact){
					margin-bottom: 30px;
				}
			}
			&-icon{
				width: 25px;
				height: 20px;
				min-width: 25px;
				margin-right: 10px;

				svg{
					width: 100%;
					height: 100%;
				}
			}
			&-text{
				font-size: 14px;
				color: $colorMain;
			}
		}
	}

	&__map{
		position: relative;
		height: 100%;
		transition: all .5s ease;
		margin: 0 (-$wrapPaddingMobile);

		@include breakPoint($breakPoint_tablet){
			margin: 20px (-$wrapPaddingTablet) -50px;
			height: calc(100vh - 395px);
		}

		@include breakPoint($breakPoint_compact){
			margin: 0;
			height: calc(100% + 50px);
		}

		.show-map &{

			@include breakPoint(0, $breakPoint_compact){
				margin-top: -200px;
				height: calc(100vh - 200px);
			}

			@include breakPoint($breakPoint_tablet, $breakPoint_compact){

			}
		}


		&-toggle{
			position: absolute;
			top: 75px;
			z-index: 1;
			left: 0;
			right: 0;
			text-align: center;
			transition: all .5s ease;

			@include breakPoint($breakPoint_compact){
				display: none;
			}

			.show-map &{
				top: -75px;
			}
		}

		.ymap-container{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			transition: all .5s ease;

			@include breakPoint(0, $breakPoint_compact){
				pointer-events: none;
				opacity: 0.4;
			}

			.show-map &{
				opacity: 1;
				pointer-events: all;
			}

			& > div > ymaps{
				width: 100% !important;
				height: 100% !important;

				& > ymaps{
					width: 100% !important;
					height: 100% !important;
				}
			}

			@include breakPoint($breakPoint_compact){
			}
		}
	}
}






.catalog{

	@include breakPoint(0, $breakPoint_desktop){
		padding-bottom: 30px;
	}


	.loader{

		@include breakPoint(0, $breakPoint_desktop){
			position: fixed;
		}
	}

	&__grid{
		margin: 0 -5px;
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;

		@include breakPoint($breakPoint_tablet){
			margin: 0 -10px;
		}
	}

	&__item{
		width: 50%;

		@include breakPoint($breakPoint_compact){
			width: (100% / 3);
		}

		@include breakPoint($breakPoint_desktop){
			width: (100% / 4);
		}

		&:hover{
			.catalog__item-inner{
				border-color: $colorMain;
			}
			.catalog__item-control{
				.btn{
					opacity: 1;
				}
			}
		}

		&-inner{
			margin: 5px;
			display: flex;
			box-sizing: border-box;
			flex-direction: column;
			border: 1px solid transparent;
			transition: all .3s ease;
			padding: 10px;
			cursor: pointer;

			@include breakPoint($breakPoint_tablet){
				margin: 10px;
				padding: 20px;
			}
		}
		&-image{
			flex: 1 1 auto;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100px;

			@include breakPoint($breakPoint_tablet){
				height: 220px;
			}

			@include breakPoint($breakPoint_desktop){
				height: 170px;
			}

			img{
				max-width: 100%;
				max-height: 90%;
			}
		}
		&-name{
			margin-bottom: 5px;

			@include breakPoint($breakPoint_tablet){
				margin-bottom: 10px;
				font-size: 16px;
			}

			span{
				color: $colorMain;
			}
		}
		&-foot{

			display: flex;
			align-items: center;
			flex-wrap: wrap;

		}
		&-price{
			font-size: 20px;
			font-weight: 400;
			color: $colorMain;
			flex: 1 1 auto;
			white-space: nowrap;
			padding-right: 10px;

			@include breakPoint($breakPoint_tablet){
				font-size: 24px;
			}

			sub{
				font-size: 10px;
				vertical-align: baseline;
				display: inline-block;

				@include breakPoint($breakPoint_tablet){
					font-size: 14px;
				}
			}
		}
		&-control{

			.btn{
				opacity: 0;
				transition: all 0.3s ease;

				&.show{
					opacity: 1;
				}
			}

			.is-touch &{

				.btn{
					opacity: 1;
					transition: all 0.3s ease;
				}
			}

			.btn{
				margin-right: 12px;

				&:last-child{
					margin-right: 0;
				}
			}
		}
	}


	&__one{
		padding: 40px 0;

		@include breakPoint($breakPoint_desktop){
			padding-top: 0;
		}

	}

	&__slider{
		overflow: visible;

		.swiper-slide{
			opacity: 0!important;

			&-active{
				opacity: 1!important;
				z-index: 1;
			}
		}
	}

	&__slide{

		&-inner{
			@include breakPoint($breakPoint_desktop){
				display: flex;
			}
		}

		&-info{
			@include breakPoint($breakPoint_desktop){
				width: 25%;
				min-width: 25%;
			}
		}
		&-image{

			height: 240px;
			font-size: 0;
			text-align: center;

			@include breakPoint($breakPoint_tablet){
				height: 580px;
			}

			@include breakPoint($breakPoint_desktop){
				height: calc(100vh - #{$headerHeightD + 220px});
				min-height: 450px;
				width: 75%;
				min-width: 75%;
			}

			&:after{
				content: '';
				display: inline-block;
				vertical-align: middle;
				height: 100%;
			}

			img{
				max-height: 100%;
				max-width: 100%;
				display: inline-block;
				vertical-align: middle;
			}
		}
		&-name{
			font-size: 20px;
			font-family: $fontTitle;
			//margin-bottom: 10px;

			@include breakPoint($breakPoint_tablet){
				margin-bottom: 10px;
				font-size: 24px;
			}


			@include breakPoint($breakPoint_desktop){
				margin-right: -50%;
			}

			span{
				color: $colorMain;
			}
		}
		&-foot{

			@include breakPoint(0, $breakPoint_desktop){
				display: flex;
				align-items: center;
				flex-wrap: wrap;
			}

		}
		&-price{
			font-size: 24px;
			font-weight: 400;
			color: $colorMain;
			white-space: nowrap;
			padding-right: 15px;
			margin: 10px 0;

			@include breakPoint($breakPoint_tablet){
				font-size: 30px;
				margin: 20px 0;
				padding-right: 30px;
			}

			sub{
				font-size: 14px;
				vertical-align: baseline;
				display: inline-block;

				@include breakPoint($breakPoint_tablet){
					font-size: 14px;
				}
			}
		}
		&-control{
			white-space: nowrap;

			.btn{
				margin-right: 15px;

				@include breakPoint($breakPoint_tablet){
					margin-right: 22px;
				}

				&:last-child{
					margin-right: 0;
				}
			}

			.more{
				color: $colorMain;

				@include breakPoint($breakPoint_desktop){
					display: none;
				}
			}
		}

		&-menu{
			margin-top: 40px;
			display: none;

			@include breakPoint($breakPoint_desktop){
				display: block;
			}

			&-item{
				color: $colorMain;
				margin: 20px 0;
			}
		}
	}


	&__thumbs{

		@include breakPoint(0, $breakPoint_tablet){
			overflow: visible;
		}

		.swiper-slide {

			@include breakPoint(0, $breakPoint_tablet){
				width: 83px;
			}
		}

		&-wrap{
			position: relative;

			@include breakPoint($breakPoint_tablet){
				padding: 0 10%;
			}

			@include breakPoint($breakPoint_desktop){
				padding: 0 12.8%;
			}
		}


		.swiper-slide{


			width: calc(#{(100% / 3)} - 10px);
			margin-right: 10px;
			display: inline-block;

			@include breakPoint($breakPoint_tablet){
				width: calc(#{(100% / 4)} - 20px);
				margin-right: 20px;
			}

			@include breakPoint($breakPoint_desktop){
				width: calc(#{(100% / 6)} - 20px);
				margin-right: 20px;
			}

			.swiper-container-initialized &{
				width: auto;
				margin: 0;
			}
		}
	}

	&__thumb{

		&-inner{
			border: 1px solid transparent;
			background-color: transparent;
			border-radius: 5px;
			transition: all .3s ease;
			text-align: center;
			cursor: pointer;

			.swiper-slide-active &{
				border-color: $colorMain;
				background-color: rgba($colorMain, .5);
			}
		}

		&-image{
			height: 62px;

			font-size: 0;

			@include breakPoint($breakPoint_tablet){
				height: 90px;
			}

			@include breakPoint($breakPoint_desktop){
				height: 80px;
			}

			&:after{
				content: '';
				display: inline-block;
				vertical-align: middle;
				height: 100%;
			}

			img{
				max-height: 100%;
				max-width: 100%;
				display: inline-block;
				vertical-align: middle;
			}
		}

		&-name{
			display: none;

			@include breakPoint($breakPoint_desktop){
				display: block;
				padding: 0 5px 10px;
			}

			span{
				color: $colorMain;
			}
		}

		&-arrow{
			position: absolute;
			width: 40px;
			height: 40px;
			top: 50%;
			margin-top: -20px;
			border: 1px solid $colorMain;
			border-radius: 5px;
			box-sizing: border-box;
			cursor: pointer;
			background: transparent;
			transition: all .3s ease;
			display: none;

			@include breakPoint($breakPoint_tablet){
				display: block;
			}

			&:hover{
				background: rgba($colorMain, .5);
			}

			&.swiper-button-disabled{
				opacity: .5;
				background: transparent!important;
				cursor: default;
			}

			&_prev{
				left: 0;
			}
			&_next{
				right: 0;
			}

			svg{
				width: 100%;
				height: 100%;
			}
		}

	}
}




.cart{

	@include breakPoint($breakPoint_tablet){
		padding-bottom: 0;
	}

	&__title{
		font-size: 20px;
		color: $colorMain;
		font-family: $fontTitle;
		margin-bottom: 16px;

		@include breakPoint($breakPoint_tablet){
			font-size: 24px;
		}
	}

	&__list{
		//overflow: auto;
	}

	&__item{
		margin-bottom: 20px;

		&.is-loading{
			.cart__item-inner{
				opacity: 0.4;
				pointer-events: none;

				&:after{
					content: '';
					display: block;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 50px;
					height: 50px;
					background: url("../../img/svg/btn-loader.svg") no-repeat 50% 50%;
					background-size: auto 80%;
				}
			}
		}

		&-inner{
			border: 1px solid rgba($colorMain, .4);
			border-radius: 4px;
			padding: 20px 10px;
			position: relative;
			transition: opacity .2s ease, border-color .2s ease;

			@include breakPoint($breakPoint_tablet){
				padding: 20px 20px;
			}

			@include breakPoint($breakPoint_compact){
				display: flex;
				align-items: center;
			}

			&:hover{
				border-color: $colorMain;
			}
		}
		&-top{
			display: flex;

			@include breakPoint($breakPoint_compact){
				width: calc(50% - 10px);
				min-width: calc(50% - 10px);
				margin-right: 20px;
			}

			@include breakPoint($breakPoint_compact){
				align-items: center;
			}

			@include breakPoint($breakPoint_desktop){
				align-items: center;
				width: calc(37% - 10px);
				min-width: calc(37% - 10px);
			}
		}

		&-info{
			padding-right: 50px;

			@include breakPoint($breakPoint_compact){
				padding-right: 0;
			}
		}

		&-text{
			color: $colorMain;
		}

		&-image{
			font-size: 0;
			width: calc(30% - 10px);
			min-width: calc(30% - 10px);
			margin-right: 10px;

			@include breakPoint($breakPoint_tablet){
				width: calc(19% - 20px);
				min-width: calc(19% - 20px);
				margin-right: 20px;
			}

			@include breakPoint($breakPoint_compact){
				width: calc(39% - 20px);
				min-width: calc(39% - 20px);
			}

			@include breakPoint($breakPoint_desktop){
				width: calc(32% - 20px);
				min-width: calc(32% - 20px);
			}
		}
		&-title{
			font-size: 14px;
			margin-bottom: 3px;
			line-height: 1.25;

			@include breakPoint($breakPoint_tablet){
				font-size: 16px;
			}

			span{
				color: $colorMain;
			}
		}
		&-price{
			font-size: 20px;
			color: $colorMain;
			font-weight: 400;

			@include breakPoint($breakPoint_tablet){
				font-size: 24px;
			}

			sub{
				font-weight: 300;
				font-size: 12px;
				vertical-align: baseline;
				display: inline-block;

				@include breakPoint($breakPoint_tablet){
					font-size: 14px;
				}
			}

		}
		&-form{

			@include breakPoint($breakPoint_tablet){
				padding-left: 19%;
			}

			@include breakPoint($breakPoint_compact){
				width: calc(50% - 80px);
				min-width: calc(50% - 80px);
				padding: 0;
				margin-right: 20px;
				align-self: flex-end;
			}

			@include breakPoint($breakPoint_desktop){
				width: calc(57.5% - 80px);
				min-width: calc(57.5% - 80px);
			}

			.form__field{
				width: 50%;

				@include breakPoint($breakPoint_tablet){
					width: 25%;
				}

				&_price{
					white-space: nowrap;
					user-select: none;

					@include breakPoint(0, $breakPoint_tablet){
						padding-left: 30px;
					}
				}
			}
		}
		&-remove{
			position: absolute;
			top: 10px;
			right: 10px;

			@include breakPoint($breakPoint_tablet){
				top: 30px;
				right: 30px;
			}

			@include breakPoint($breakPoint_compact){
				position: static;
				flex: 1 1 auto;
				text-align: right;
				align-self: flex-end;

				.cart__item_short &{
					align-self: flex-start;
				}
			}
		}
	}



	&__result{
		margin: 30px -5px;

		@include breakPoint($breakPoint_tablet){
			margin: 30px -10px;
		}

		&-inner{
			padding: 0 5px;
			box-sizing: border-box;

			@include breakPoint($breakPoint_tablet){
				padding: 0 10px;
				margin-left: 60%;
			}

			@include breakPoint($breakPoint_compact){
				margin-left: 70%;
			}

			@include breakPoint($breakPoint_desktop){
				margin-left: 75%;
			}
		}

		&-line{
			font-size: 14px;
			display: flex;
			align-items: baseline;
			justify-content: space-between;
			margin-bottom: 10px;

			@include breakPoint($breakPoint_tablet){
				font-size: 16px;
			}

			&_all{
				font-size: 20px;
				border-top: 1px solid rgba($colorMain, .4);
				padding-top: 15px;

				@include breakPoint($breakPoint_tablet){
					font-size: 24px;
				}
			}
		}
		&-name{
			color: $colorMain;
		}
		&-value{

		}
		&-btn{
			margin-top: 25px;

			.btn{
				display: block;
			}
		}
	}


	&_order{


		@include breakPoint($breakPoint_compact){
			display: flex;
			flex-direction: column;
			height: 100%;
		}

	}

	&__form{

		&-group{
			margin-bottom: 30px;
		}

		&-title{
			padding-left: 30px;
			position: relative;
			margin-bottom: 15px;

			&-number{
				min-width: 16px;
				box-sizing: border-box;
				height: 16px;
				border: 1px solid $colorMain;
				background-color: rgba($colorMain, .4);
				border-radius: 16px;
				font-size: 11px;
				color: #fff;
				text-align: center;
				line-height: 14px;
				position: absolute;
				top: 1px;
				left: 0;
				font-family: 'Arial', sans-serif;

				@include breakPoint($breakPoint_tablet){
					top: 3px;
				}
			}
		}

		.form{
			&__field{

				&_text{
					width: 50%;
				}

				&_radioboxitem{
					width: 50%;
				}
			}
		}
	}

	&__order{

		@include breakPoint($breakPoint_compact){
			margin: 0 -10px;
			display: flex;
			justify-content: space-between;
			flex: 1 1 auto;
		}

		&-form{

			@include breakPoint($breakPoint_compact){
				box-sizing: border-box;
				margin: 0 10px;
				width: calc(40% - 20px);
				min-width: calc(40% - 20px);
				position: relative;
			}

			@include breakPoint($breakPoint_desktop){
				width: calc(50% - 20px);
				min-width: calc(50% - 20px);
			}

			&-inner{

				@include breakPoint($breakPoint_desktop){
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%
				}
			}
		}

		&-list{

			@include breakPoint($breakPoint_compact){
				box-sizing: border-box;
				margin: 0 10px;
				width: calc(50% - 20px);
				min-width: calc(50% - 20px);
				display: flex;
				flex-direction: column;
				position: relative;
				height: 100%;

				.cart__item-top{
					width: calc(84% - 10px);
					min-width: calc(84% - 10px);
				}
				.cart__item-image {
					width: calc(22% - 20px);
					min-width: calc(22% - 20px);
				}

				.cart__result-inner{
					margin-left: 40%;
				}
			}

			@include breakPoint($breakPoint_desktop){
				width: calc(#{(3 * 100% / 8)} - 20px);
				min-width: calc(#{(3 * 100% / 8)} - 20px);


				.cart__item-image {
					width: calc(41% - 20px);
					min-width: calc(41% - 20px);
				}

				.cart__result-inner{
					margin-left: (100% / 3);
				}
			}

			&-items{
				position: relative;
				flex: 1 1 0;

				@include breakPoint($breakPoint_compact){
					margin-right: (-$wrapPaddingTablet);

					&:after{
						content: '';
						display: block;
						height: 1px;
						position: absolute;
						left: 0;
						bottom: 0;
						background: rgba($colorMain, .5);
						right: $wrapPaddingTablet;
					}
				}

				@include breakPoint($breakPoint_desktop){
					margin-right: (-$wrapPaddingDesktop);

					&:after{
						right: $wrapPaddingDesktop;
					}
				}
			}

			&-result{

			}

			&-inner{
				box-sizing: border-box;

				@include breakPoint($breakPoint_compact){
					padding-right: ($wrapPaddingTablet);
				}

				@include breakPoint($breakPoint_desktop){
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					display: flex;
					flex-direction: column;
					padding-right: ($wrapPaddingDesktop);

					.cart__list{
						flex: 1 1 auto;

						&.os-host-overflow-y{
							margin-right: -15px;
							border-bottom: 1px solid rgba($colorMain, .5);

							.cart__list-inner{
								padding-right: 15px;
							}
						}
					}
				}
			}
		}
	}

}



.scrollbar{

	/*height: 100%;
	overflow: auto;

	@include breakPoint($breakPoint_desktop){
		overflow: auto;
	}*/
}



