

/// media break point
/// @param {Size} $min [1200px] - width
/// @param {Size} $max [1800px] - width


@mixin breakPoint ($min, $max: null){
	@if ($max) {
		@media (min-width: #{$min}) and (max-width: #{$max - 1px}){
			@content;
		}
	}
	@else {
		@media (min-width: #{$min}) {
			@content;
		}
	}
}



/// Grid site
/// @param {Number} $columns [12] - column lines count
/// @param {Size} $gutter [1%] - gutter width
/// @param {Size} $offset [0] - side offset
/// @param {Color} $color [rgba(45, 132, 190, 0.2)] - lines color

///	body {
///		&:before{
///			content: '';
///			@include grid();
///		}
///	}

@mixin grid($columns: 12, $gutter: 1%, $offset: 0, $color: rgba(45, 132, 190, 0.2)){
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: calc(100% - (2 * #{$offset}));
	height: 100vh;
	content: '';
	background-image: repeating-linear-gradient(
					to right,
					$color,
					$color calc((100% / #{$columns}) - #{$gutter}),
					transparent calc((100% / #{$columns}) - #{$gutter}),
					transparent calc(100% / #{$columns})
	);
	background-size: calc(100% + #{$gutter}) 100%;
	z-index: 1000;
	pointer-events: none;
}



@mixin closeBtn($width: 30px, $height: 4px){
	position: absolute;
	width: $width;
	height: $width;
	cursor: pointer;

	&:before,
	&:after{
		content: '';
		width: $width;
		height: $height;
		margin-top: -($height/2);
		margin-left: -($width/2);
		position: absolute;
		top: 50%;
		left: 50%;
		background: currentColor;
		//border-radius: #{$height};
	}

	&:before{
		transform: rotate(45deg);
	}

	&:after{
		transform: rotate(135deg);
	}

}




@mixin burgerButton ($openClass: '.is-open', $handlerWidth: 30px, $handlerHeight: 4px, $handlerRadius: 5px){
	cursor: pointer;

	i{
		display: block;
		width: $handlerWidth;
		height: $handlerHeight;
		background: currentColor;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -($handlerHeight/2);
		margin-left: -($handlerWidth/2);
		transition: all 0.3s ease;
		border-radius: $handlerRadius;

		#{$openClass} &{
			width: $handlerHeight;
			margin-left: -($handlerHeight/2);
		}

		&:before,
		&:after{
			content: '';
			display: block;
			width: $handlerWidth;
			height: $handlerHeight;
			background: currentColor;
			position: absolute;
			left: 50%;
			top: 50%;
			margin-top: -($handlerHeight/2);
			margin-left: -($handlerWidth/2);
			transition: all 0.3s ease;
			border-radius: $handlerRadius;
		}

		&:before{
			top:-(($handlerWidth/3) - ($handlerHeight/2));
			#{$openClass} &{
				top:50%;
				transform: rotate(45deg);
			}
		}

		&:after{
			top: (($handlerWidth/3) + ($handlerHeight/2));
			#{$openClass} &{
				top:50%;
				transform: rotate(135deg);;
			}
		}
	}
}

@mixin hideScroll{
	-ms-overflow-style: scrollbar !important;
	scrollbar-width: none !important;
	overflow: auto;
	overflow-x: hidden;

	&::-webkit-scrollbar {
		width: 0;
		height: 0;
		display: none;
	}
}

@mixin hideOverlayScrollbar{
	& > {
		.os-resize-observer-host,
		.os-size-auto-observer,
		.os-content-glue,
		.os-scrollbar,
		.os-scrollbar-corner
		{
			display: none!important;
		}

		.os-padding{
			position: static !important;
			z-index: auto !important;
			overflow: visible !important;
			height: 100% !important;

			& > .os-viewport{
				position: static !important;
				overflow: visible !important;
				height: 100% !important;

				& > .os-content-arrange{
					display: none;
				}

				& > .os-content{
					position: static !important;
					overflow: visible !important;
					height: 100% !important;

					&:before,
					&:after{
						display: none;
					}
				}
			}
		}
	}
	//.os-host,
	//.os-viewport,
	//.os-padding{
	//	overflow: visible!important;
	//}
	//.os-resize-observer-host,
	//.os-size-auto-observer,
	//.os-content-glue,
	//.os-scrollbar-corner,
	//.os-content-arrange,
	//.os-scrollbar{
	//	display: none !important;
	//}
	//.os-content{
	//	border: 0!important;
	//}
	//.os-padding,
	//.os-viewport{
	//	position: static !important;
	//}
}