$popupZIndex: 1000;
$popupOverlayColor: rgba($colorBackgroundBlack ,0.75);

.popup {
	display: block;
	position: fixed;
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
	z-index: $popupZIndex;
	text-align: center;
	background: transparent;
	overflow-y: auto;
	font-size: 0;

	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}

	&__overlay{
		display: block;
		position: fixed;
		height: 100%;
		left: 0;
		top: 0;
		width: 100%;
		background: $popupOverlayColor;
		backdrop-filter: blur(10px);
	}

	&__layout {
		box-sizing: border-box;
		display: inline-block;
		margin: 20px auto;
		padding: 0;
		position: relative;
		vertical-align: middle;
		max-width: calc(100% - 20px);
		width: 716px;
		min-height: 100px;
		text-align: left;
		font-size: $fontSize;
		background: #fff;
		border-radius: 4px;
		background: rgba($colorMain, 0.2);
		border: 1px solid $colorMain;
	}

	&__close {
		position: fixed;
		top: 10px;
		right: 10px;
		z-index: 1;
	}

	&__content{
		padding: 30px;
		position: relative;
	}

	&__title{
		font-size: 20px;
		margin-bottom: 20px;
		font-family: $fontTitle;

		@include breakPoint($breakPoint_tablet){
			font-size: 24px;
		}

	}

	&__text{
		font-size: 12px;
		margin-bottom: 20px;

		@include breakPoint($breakPoint_tablet){
			font-size: 14px;
		}
	}

	&__icon{
		width: 32px;
		height: 32px;
		background: $colorMain;
		color: #fff;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 50%;
		z-index: 1;

		@include breakPoint($breakPoint_tablet){
			width: 40px;
			height: 40px;
		}


		.icon {
			width: 100%;
			height: 100%;
		}

		&:before,
		&:after{
			content: '';
			display: block;
			width: 3px;
			height: 3px;
			position: absolute;
			top: 50%;
			border-radius: 50%;
			background: #fff;
			transform: translate(-50%, -50%);
		}

		&:before{
			left: 0;
		}

		&:after{
			left: 100%;
		}
	}


}


.popup_info{

	.popup{
		&__content{
			text-align: center;
			padding: 50px 20px;
		}

		&__title{
			font-size: 20px;
			font-family: $fontTitle;
			margin-bottom: 40px;

			@include breakPoint($breakPoint_tablet){
				font-size: 24px;
				margin-bottom: 70px;
			}

		}

		&__text{
			font-size: 12px;
			margin-bottom: 40px;

			@include breakPoint($breakPoint_tablet){
				font-size: 14px;
				margin-bottom: 70px;
			}
		}

	}

}
