

$fontMain: 'DIN Pro', sans-serif;
$fontTitle: 'Merriweather', serif;;
$fontSize: 14px;



$breakPoint_tablet: 768px;
$breakPoint_compact: 1024px;
$breakPoint_desktop: 1360px;


$colorBackgroundBlack: #1E1E1E;
$colorBackgroundWhite: #fff;//#F8F4F0;

$colorText: #E1D3CB;
$colorMainLight: #F4B39D;
$colorMain: #E9967A;

$colorRed: #FF4433;

$colorTextDark: $colorBackgroundBlack;


$headerHeight: 62px;
$headerHeightT: 80px;
$headerHeightD: 100px;


$gap_mobile: 10px;
$gap_compact: 20px;



$wrapPaddingMobile: 10px;
$wrapPaddingTablet: 44px;
$wrapPaddingDesktop: 50px;

