<template lang="pug">
	.menu
		.menu__scroll(v-dragscroll="$store.state.base.breakpoint.mobile || $store.state.base.breakpoint.tablet")
			.menu__inner
				.menu__item.menu__item_title Контакты
				.menu__item: router-link.menu__link(:to="{name:'contacts-map'}") Карта
				.menu__item: router-link.menu__link(:to="{name:'contacts-mall'}") Карта комплекса
				.menu__item: router-link.menu__link(:to="{name:'contacts-way'}") Как проехать?


</template>

<script>

	export default {
		data () {
			return {

			}
		},


	}
</script>

<style lang="scss">

</style>