<template lang="pug">
	.calc
		.calc__title Калькулятор стоимости

		.calc__form
			.form__wrap
				field(:field='fields.brand', v-model='brand')
				field(:field='fields.surface', v-model='surface')
				.form__field
					pre color
				field(:field='fields.width', v-model='width')
				field(:field='fields.lgth', v-model='lgth')
				.form__field
					.calc__color
						.calc__color-item(
							v-for="clr in colorList",
							:class="{'is-active': clr.value === color }",
							@click="color = clr.value"
							)
							.calc__color-img(v-lazy:background-image="clr.image")

						.btn.btn_icon.btn_fill.calc__color-btn(v-if="colors.length > colorVisible && allColor", @click="allColor = false"): icon(name="cross-remove")
						.btn.btn_icon.btn_fill.calc__color-btn(v-else-if="colors.length > colorVisible", @click="allColor = true"): icon(name="cross-add")

				.form__field
					.calc__price
						| Итого к оплате:
						span 1 200 руб.
				field(:field='fields.quantity', v-model='quantity')
				.form__field.form__field_btn
					.btn.btn_fill(@click="addToCart(item.id, !item.in_cart)", :class="{'btn_fill': item.in_cart}")
						icon(name="basket")
						span В корзину
				.form__field.form__field_btn
					.btn.btn_icon(@click.prevent="toggleFavourite(item.id, !item.in_favourite)", :class="{'btn_fill': item.in_favourite}"): icon(name="favourite")


</template>

<script>

	import {mapState} from 'vuex'

	export default {

		components: {

		},

		data () {
			return {

				allColor: false,

				colorVisible: false,

				fields: {
					brand: {
						type: 'select',
						placeholder: 'Бренд',
						required: true,
						items: [],
					},
					width: {
						type: 'select',
						placeholder: 'Ширина (см)',
						required: true,
						items: [],
					},
					surface: {
						type: 'radiobox',
						name: 'user_address',
						required: true,
						items: [],
					},
					lgth: {
						type: 'number',
						placeholder: 'Длина (см)',
						required: true,
					},
					quantity: {
						type: 'counter',
						required: true,
					}
				}
			}
		},

		computed: {

			...mapState({
				item: state => state.product.item.data,
				model: state => state.product.item.model,
				forms: state => state.product.item.form,
			}),

			colors() {
				return this.forms && this.forms.color && this.forms.color.options ? this.forms.color.options : [];
			},

			colorList() {
				return this.colors.length <= this.colorVisible || this.allColor ? this.colors : this.colors.slice(0, this.colorVisible - 1);
			},

			brand: {
				get() {
					return this.model.brand;
				},
				set(value) {
					this.$store.commit("product/SET_ITEM_PROP", {name: 'brand', value});
				}
			},

			surface: {
				get() {
					return this.model.surface;
				},
				set(value) {
					this.$store.commit("product/SET_ITEM_PROP", {name: 'surface', value});
				}
			},

			color: {
				get() {
					return this.model.color;
				},
				set(value) {
					this.$store.commit("product/SET_ITEM_PROP", {name: 'color', value});
				}
			},

			width: {
				get() {
					return this.model.width;
				},
				set(value) {
					this.$store.commit("product/SET_ITEM_PROP", {name: 'width', value});
				}
			},

			lgth: {
				get() {
					return this.model.lgth;
				},
				set(value) {
					this.$store.commit("product/SET_ITEM_PROP", {name: 'lgth', value});
				}
			},

			quantity: {
				get() {
					return this.model.quantity;
				},
				set(value) {
					this.$store.commit("product/SET_ITEM_PROP", {name: 'quantity', value});
				}
			},
		},

		watch:{
			forms(){
				this.collectItems();
			}
		},

		mounted(){
			this.collectItems();
			this.onResize();
			window.addEventListener('resize', this.onResize, false);
		},

		beforeDestroy(){
			this.$store.commit("product/SET_ITEM_DATA_PROP", {name: 'id', value: null});
			window.removeEventListener('resize', this.onResize, false);
		},

		methods: {
			onResize(){
				let width = this.$el.querySelector('.calc__form').clientWidth;
				this.colorVisible = Math.floor(width / 53);
			},

			collectItems(){
				if ( this.forms ){
					if ( this.forms.lgth ) {

					}
					if ( this.forms.surface ) {
						this.fields.surface.items = this.forms.surface.options.map( item =>{
							return {
								value: item.value,
								label: `<div class="form__input-title">${item.name}</div>`
							}
						})
					}
					if ( this.forms.color ) {

					}
					if ( this.forms.brand ) {
						this.fields.brand.items = this.forms.brand.options.map( item =>{
							return {
								value: item.value,
								label: item.name
							}
						})
					}

					if ( this.forms.width ) {
						this.fields.width.items = this.forms.width.options.map( item =>{
							return {
								value: item.value,
								label: item.name,
								priceRatio: item.priceRatio,
							}
						})
					}
				}
			},


			addToCart(){
				if ( this.loading ) return;
				this.loading = true;
				this.$store.dispatch('product/addItemToCart')
					.then(()=>{
						this.$store.dispatch('base/commonInfo');
						this.$snackbar({
							type: 'success',
							message: 'Товар добавлен в корзину',
						})
					})
					.catch(()=>{
						this.$snackbar({
							type: 'error',
							message: 'Не удалось добавить в корзину',
						})
					})
					.finally(()=>{
						this.loading = false;
					})
				;
			},

			toggleFavourite(id, add){
				if ( this.loading ) return;
				this.loading = true;
				this.$store.dispatch(add ? 'product/addToFavourite' : 'product/removeFromFavourite', id)
					.then(()=>{
						this.$store.dispatch('base/commonInfo');
						this.$store.commit("product/SET_ITEM_DATA_PROP", {name: 'in_favourite', value: add});

					})
					.finally(()=>{
						this.loading = false;
					})
				;
			},
		}

	}




</script>

<style scoped lang="scss">

	.calc{
		margin-bottom: 35px;

		&__title{
			font-size: 14px;
			color: $colorText;
			margin-bottom: 15px;
		}

		&__form{

			max-width: 460px;

			&::v-deep .form__field_radioboxitem{
				width: 50%;
			}
			&::v-deep .form__field_counter{
				width: 120px;
				vertical-align: middle;

				@include breakPoint($breakPoint_tablet){
					width: 170px;
				}
			}
		}

		&__price{
			font-size: 14px;
			color: $colorText;
			margin-bottom: 10px;

			span{
				font-size: 24px;
				color: #fff;
				margin-left: 5px;
			}
		}

		&__color{
			margin: -4px;
			font-size: 0;

			&-item{
				display: inline-block;
				vertical-align: top;
				margin: 4px;
				width: 40px;
				height: 40px;
				cursor: pointer;
				position: relative;
				border: 1px solid transparent;
				border-radius: 50%;
				padding: 2px;

				&:before,
				&:after{
					content: '';
					display: block;
					position: absolute;
					width: 3px;
					height: 3px;
					border-radius: 50%;
					background: currentColor;
					top: 50%;
					transform: translate(-50%, -50%);
					opacity: 0;
				}

				&:before{
					left: 0;
					margin-left: -1px;
				}

				&:after{
					left: 100%;
					margin-left: 1px;
				}

				&:hover{
					border-color: $colorMain;
				}

				&.is-active{
					border-color: $colorMain;

					&:before,
					&:after{
						opacity: 1;
					}
				}
			}


			&-btn{
				display: inline-block;
				vertical-align: top;
				margin: 6px;
				width: 40px;
				height: 40px;
				background: $colorMain;
				color: #fff;
				border-radius: 50%;
				cursor: pointer;
				padding: 0;

				svg{
					width: 100%;
					height: 100%;
				}

				&:before{
					transform-origin: 20px 0;
				}

				&:after{
					transform-origin: -20px 0;
				}

				&:hover{

					&:before{
						left: calc(50% - 19px);
					}

					&:after{
						left: calc(50% + 20px);
					}

				}
			}

			&-img{
				width: 100%;
				height: 100%;
				background: no-repeat 50% 50%;
				background-size: cover;
				border-radius: 50%;
			}
		}

		.form__field_btn{
			width: auto;
			vertical-align: middle;
		}
	}

</style>