<template lang="pug">
	page-wrap
		template(slot="aside")
			scroll-bar.side(:breakpoints="['desktop']")
				.side__inner
					Menu
						.menu__item: .menu__link.is-active CRYSTALLIT Подоконник Антрацит глянцевый
		template(slot="content")
			scroll-bar.content(:breakpoints="['mobile', 'tablet']")
				.content__inner
					.loader(v-if="loading"): include ../../../../img/svg/btn-loader.svg
					.content__box(v-else)
						.product
							.product__preview
								.product__inner
									scroll-bar(:breakpoints="['compact', 'desktop']", ref="sideBar")
										preview

							.product__info
								.product__inner
									scroll-bar(:breakpoints="['compact', 'desktop']", :options="sbopts")
										.product__info-inner
											.product__info-title
												.text
													h1 CRYSTALLIT #[span.color Подоконник Антрацит глянцевый]

											.product__info-price
												span {{ item.price }} руб.
												| {{ item.dimension }}

											.product__info-calc
												calc
											.product__info-related
												related
											.product__info-text
												info



</template>

<script>
	import Menu from '../menu.vue'
	import Calc from './calc'
	import Preview from './preview'
	import Info from './info'
	import Related from './related'
	import {mapState} from 'vuex'

	export default {

		components: {
			Menu,
			Calc,
			Info,
			Related,
			Preview
		},

		data () {
			return {
				loading: false,

				sbopts: {
					callbacks : {
						// onInitialized             : (e)=>{ console.info('onInitialized               ', e) },
						// onInitializationWithdrawn : (e)=>{ console.info('onInitializationWithdrawn   ', e) },
						// onDestroyed               : (e)=>{ console.info('onDestroyed                 ', e) },
						// onScrollStart             : (e)=>{ console.info('onScrollStart               ', e) },
						onScroll                  : (e)=>{
							// console.info('onScroll                    ', e)
							console.info(e, this.sideBar.scroll());
						},
						// onScrollStop              : (e)=>{ console.info('onScrollStop                ', e) },
						// onOverflowChanged         : (e)=>{ console.info('onOverflowChanged           ', e) },
						// onOverflowAmountChanged   : (e)=>{ console.info('onOverflowAmountChanged     ', e) },
						// onDirectionChanged        : (e)=>{ console.info('onDirectionChanged          ', e) },
						// onContentSizeChanged      : (e)=>{ console.info('onContentSizeChanged        ', e) },
						// onHostSizeChanged         : (e)=>{ console.info('onHostSizeChanged           ', e) },
						// onUpdated                 : (e)=>{ console.info('onUpdated                   ', e) },
					}
				}
			}
		},

		computed: {
			...mapState({
				item: state => state.product.item.data,
			}),


			sideBar(){
				return this.$refs.sideBar.scrollbar.scrollbar;
			}

		},

		mounted(){
			this.$store.commit('product/SET_DEFAULT_ITEM');
			this.loadData();
		},

		methods: {

			loadData(){

				this.loading = true;
				this.$store.dispatch('product/item', {id: this.$route.params.id})
					.finally(()=>{
						this.loading = false;
					});
			}
		}

	}
</script>

<style scoped lang="scss">

	.product{
		@include breakPoint($breakPoint_compact){
			display: flex;
			height: 100%;
		}


		&__preview{

			min-height: 10px;
			margin-bottom: 20px;
			box-sizing: border-box;

			@include breakPoint($breakPoint_compact){
				padding: 0 ($gap_compact / 2);
				width: (4 * 100% / 10);
				height: 100%;
			}

			@include breakPoint($breakPoint_desktop){
				padding: 0 ($gap_compact / 2);
				width: (3 * 100% / 8);
			}

		}

		&__info{
			box-sizing: border-box;

			@include breakPoint($breakPoint_compact){
				padding: 0 ($gap_compact / 2);
				width: (6 * 100% / 10);
				height: 100%;
			}

			@include breakPoint($breakPoint_desktop){
				padding: 0 ($gap_compact / 2);
				width: (5 * 100% / 8);
			}

			&-price{

				font-size: 14px;
				color: $colorMain;
				margin-bottom: 10px;

				span{
					font-size: 24px;
					color: #fff;
					margin-right: 5px;
				}
			}

			&-inner{

				@include breakPoint($breakPoint_compact){
					padding-right: ($wrapPaddingTablet);
				}

				@include breakPoint($breakPoint_desktop){
					padding-right: ($wrapPaddingDesktop);
				}
			}
		}

		&__inner{
			box-sizing: border-box;
			position: relative;

			@include breakPoint($breakPoint_compact){
				height: 100%;
			}

			.product__info &{

				@include breakPoint($breakPoint_compact){
					margin-right: (-$wrapPaddingTablet);
				}

				@include breakPoint($breakPoint_desktop){
					margin-right: (-$wrapPaddingDesktop);
				}

			}
		}

	}

</style>