<template lang="pug">
	.product__info-text
		.text

			div(v-for="item in info").section

				h2 {{ item.title }}

				div(v-if="item.type === 'tabs'")
					tab-wrap
						tab-link(v-for="(tab, idx) in item.content", :key="`tab-link${idx}`")
							div(v-html="tab.title")
						tab-item(v-for="(tab, idx) in item.content", :key="`tab-item${idx}`")
							div(v-html="tab.text")

				div(v-else-if="item.type === 'gallery'")
					gallery-wrap(:images="item.content")


				div(v-else-if="item.type === 'text'")
					div(v-html="item.content")



</template>

<script>
	import {mapState} from 'vuex'

	export default {

		data () {
			return {

			}
		},

		computed: {
			...mapState({
				info: state => state.product.item.info,
			}),


		},

		mounted(){

		},

		methods: {

		}

	}
</script>

<style scoped lang="scss">

	.section{
		margin: 40px 0 25px;

		&:first-child{
			margin-top: 0;
		}
	}

</style>