<template lang="pug">
	.preview
		gallery(id="main_preview", :images="images", :index="imageOpened", @close="imageOpened = null")
		.preview__main(@click="imageOpened = imageActive")
			.preview__main-img
				img(v-lazy='images[imageActive]')
		.preview__thumb
			.preview__thumb-item(
				v-for="(image, idx) in images",
				@click="imageActive = idx",
				:key="idx",
				:class='{"is-active" : idx === imageActive}')
				.preview__thumb-inner
					img(v-lazy='image')

</template>

<script>

	import {mapState} from 'vuex'

	export default {

		components: {

		},

		data () {
			return {

				imageActive: 0,

				imageOpened: null,

			}
		},

		computed:{

			...mapState({
				item: state => state.product.item.data,
			}),

			images(){
				return this.item.images || []
			}
		},

		mounted(){

		},

	}
</script>

<style scoped lang="scss">

	.preview{

		&__main{
			width: 100%;
			height: 250px;
			//padding-bottom: 100% * (240 / 300);
			position: relative;
			margin-bottom: 20px;

			&-img{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;

				img{
					max-width: 100%;
					max-height: 100%;
				}
			}
		}


		&__thumb{
			margin: -10px -5px;
			font-size: 0;

			&-item{
				width: 100px;
				max-width: (100% / 3);
				vertical-align: top;
				display: inline-block;
				user-select: none;
				cursor: pointer;

				@include breakPoint($breakPoint_tablet){
					width: 120px;

				}

				@include breakPoint($breakPoint_compact){

				}

				@include breakPoint($breakPoint_desktop){

				}
			}

			&-inner{
				height: 62px;
				margin: 10px 5px;
				border: 1px solid transparent;
				border-radius: 4px;
				display: flex;
				align-items: center;
				justify-content: center;
				overflow: hidden;

				@include breakPoint($breakPoint_tablet){
					height: 80px;
				}

				@include breakPoint($breakPoint_compact){

				}

				@include breakPoint($breakPoint_desktop){

				}

				.is-active &{
					background: rgba($colorMain, .5);
					border-color: $colorMain;
				}
			}
		}

	}

</style>