<template lang="pug">
	.related
		swiper(:options="options", ref="related").related__list
			swiper-slide(v-for="item in list", :key="item.id").related__item
				.related__item-inner
					.related__item-image: img(v-lazy="item.image")
					.related__item-title(v-if="item.collection") {{ item.collection }}
					.related__item-name {{ item.name }}
					.related__item-control
						.btn.btn_icon(@click.prevent="toggleCart(item.id, !item.in_cart)", :class="{'btn_fill': item.in_cart}"): icon(name="cart")
						.btn.btn_icon(@click.prevent="toggleFavourite(item.id, !item.in_favourite)", :class="{'btn_fill': item.in_favourite}"): icon(name="favourite")



</template>

<script>
	import {mapState} from 'vuex'

	export default {

		data () {
			return {

				options: {
					slidesPerView: 2,
					spaceBetween: 10,

					breakpointsInverse: true,
					breakpoints: {
						768: {
							slidesPerView: 4,
							spaceBetween: 10
						},
					},

					on: {
						slideChange: (e)=>{

						},
					}
				}
			}
		},

		computed: {
			...mapState({
				list: state => state.product.list,
			}),
		},

		mounted(){

		},

		methods: {

			toggleCart(id, add){
				if ( this.loading ) return;
				this.loading = true;
				this.$store.dispatch(add ? 'product/addToCart' : 'product/removeFromCart', id)
					.then(()=>{
						this.$store.dispatch('base/commonInfo');
					})
					.finally(()=>{
						this.loading = false;
					})
				;
			},

			toggleFavourite(id, add){
				if ( this.loading ) return;
				this.loading = true;
				this.$store.dispatch(add ? 'product/addToFavourite' : 'product/removeFromFavourite', id)
					.then(()=>{
						this.$store.dispatch('base/commonInfo');
					})
					.finally(()=>{
						this.loading = false;
					})
				;
			},

		}
	}
</script>

<style scoped lang="scss">

	.related{

		max-width: 600px;

		&__list{

		}
		&__item{

			text-align: center;

			&-inner{
				border: 1px solid transparent;
				border-radius: 4px;
				padding: 10px;
			}
			&-image{
				height: 80px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			&-title{
				font-size: 14px;
				color: $colorMain;
			}
			&-name{
				color: #fff;
			}

			&-control{
				margin-top: 10px;
				opacity: 0;
				transition: opacity .3s ease;

				.is-touch &{
					opacity: 1;
				}

				.btn{
					margin: 0 5px;
				}
			}

			&:hover{
				.related__item-inner{
					background: rgba($colorMain, .5);
					border-color: $colorMain;

					.is-touch &{
						background: transparent;
						border-color: transparent;
					}
				}
				.related__item-control{
					opacity: 1;
				}
			}
		}
	}

</style>



