<template lang="pug">
	.model
		model-obj(
			:backgroundAlpha="0",
			:src="obj",
			:mtl="mtl",
			:lights="lights",
			:controlsOptions="controlsOptions",
			:position="position",
			:rotation="rotation",
			:cameraPosition="cameraPosition",
			:cameraRotation="cameraRotation",
			:scale="scale",
			@on-mousemove="onMouseMove",
			@on-load="onLoad",
			@on-progress="onProgress",
			)

</template>

<script>
	import ModelObj from './lib/model-obj'

	export default {
		name: "o-model",

		props: {
			obj: {
				type: String
			},
			mtl: {
				type: String
			},
		},

		data(){
			return {
				controlsOptions: {
					// enablePan:false,
					// enableZoom:false,
					// enableRotate:true,

					minDistance: 300,
					maxDistance: 800,
				},
				position: {
					x : 0,
					y : 0,
					z : 0,
				},
				rotation: {
					x : 0, // -90 * Math.PI / 180,
					y : 0, // 45 * Math.PI / 180,
					z : 0, // 180 * Math.PI / 180,
				},
				cameraPosition: {
					x: -351.0576471510877,
					y: 134.4599103076333,
					z: -329.6650738200917,
				},
				cameraRotation: {
					x: -2.754321775960263,
					y: -0.7783638178437006,
					z: -2.862686390168568,
				},
				scale: {
					x: 1,
					y: 1,
					z: 1
				},
				lights: [

					{
						type: 'RectAreaLight',
						position: {x: 0, y: 100, z: 0},
						color: 0xffffff,
						width : 50,
						height : 50,
						intensity: 1,
					},
					{
						type: 'AmbientLight',
						position: {x: 0, y: 1000, z: 0},
						color: 0x808080,
						intensity: 1,
					},
					{
						type: 'AmbientLight',
						position: {x: 0, y: -1000, z: 0},
						color: 0x808080,
						intensity: .5,
					},
					{
						type: 'PointLight',
						position: {x: 0, y: 100, z: 0},
						color: 0xffffff,
						intensity: 0.8,
					},
					/*{
						type: 'PointLight',
						position: {x: 0, y: 500, z: 0},
						color: 0xffffff,
						intensity: 1,
					},
					{
						type: 'PointLight',
						position: {x: 0, y: -500, z: 0},
						color: 0xffffff,
						intensity: 1,
					},
					{
						type: 'PointLight',
						position: {x: 0, y: 0, z: 500},
						color: 0xffffff,
						intensity: 1,
					},
					{
						type: 'PointLight',
						position: {x: 0, y: 0, z: -500},
						color: 0xffffff,
						intensity: 1,
					},
					{
						type: 'PointLight',
						position: {x: 500, y: 0, z: 0},
						color: 0xffffff,
						intensity: 1,
					},
					{
						type: 'PointLight',
						position: {x: -500, y: 0, z: 0},
						color: 0xffffff,
						intensity: 1,
					},*/
				],
			}
		},

		methods: {
			onMouseMove(e){
				//console.info(e)
			},
			onProgress(e){
				console.info(e)
			},
			onLoad(e){
				// console.info('load')

				setTimeout(()=>{
					window.dispatchEvent(new Event('resize'));
				}, 300)
			},
		},


		components: {
			ModelObj
		},

	}
</script>

<style lang="scss">

	.model{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		canvas{
			max-width: 100%;
			max-height: 100%;
			width: 100%;
			height: 100%;
		}
	}

</style>