<template lang="pug">
	.model3d


</template>

<script>

	import * as THREE from "three";
	const OrbitControls = require('three-orbit-controls')(THREE);
	import {OBJLoader, MTLLoader} from 'three-obj-mtl-loader';

	//THREE.ImageUtils.crossOrigin = "anonymous";

	export default {
		name: "o-model",

		props: {
			obj: {
				type: String
			},
			mtl: {
				type: String
			},
		},

		data(){
			return {
				canvas: null,
				scale: 0.18,

				objectOptions: {
					position: {
						x : -163,
						y : 174,
						z : 10,
					},
					rotation: {
						x : -90 * Math.PI / 180,
						z : 180 * Math.PI / 180,
						y : 45 * Math.PI / 180,
					},
				}
			}
		},

		mounted(){
			setTimeout(()=>{

				this.init();
			},500)
		},

		methods: {
			draw(){


				this.renderer = new THREE.WebGLRenderer( { alpha: true, antialias: true } );

				this.renderer.setSize( this.$el.clientWidth, this.$el.clientHeight );

				this.$el.appendChild( this.renderer.domElement );

				this.scene = new THREE.Scene();
				this.scene.add( new THREE.AmbientLight( 0xffffff, 0.2 ) );

				this.camera = new THREE.PerspectiveCamera( 20, this.$el.clientWidth / this.$el.clientHeight, 1, 500 );
				this.camera.up.set( 0, 0, 1 );
				this.camera.position.set( 0, 50, 0 );
				this.scene.add( this.camera );

				this.controls = new OrbitControls( this.camera, this.renderer.domElement );
				this.controls.addEventListener( 'change', this.render.bind(this) );
				this.controls.minDistance = 300;
				this.controls.maxDistance = 300;
				this.controls.enableZoom = false;
				this.controls.enablePan = false;
				this.controls.target.set( 0, 0, 10 );
				this.controls.update();

				this.camera.add( new THREE.PointLight( 0xffffff, 0.8 ) );

				new MTLLoader()
				 	.setPath('../model/sill/')
				 	.load( this.mtl, materials => {

						materials.preload();


						new OBJLoader()
							.setMaterials(materials)
							//.setPath('../model/sill/')
							.load(this.obj, (object) => {

								this.object = object;

								this.object.scale.set(this.scale, this.scale, this.scale);
								this.object.position.x = -140;
								this.object.position.y = 200;
								this.object.position.z = 10;
								this.object.rotation.x = -90 * Math.PI / 180;
								this.object.rotation.z = 180 * Math.PI / 180;
								this.object.rotation.y = 45 * Math.PI / 180;

								this.scene.add( this.object );
								this.render.bind(this);

							}, (progress) => {}, (error) => {});

					} );



				/*new OBJLoader().load(this.obj, ( object )=>{
					this.object = object;

					this.object.scale.set(this.scale, this.scale, this.scale);
					this.object.position.x = 0;
					this.object.position.y = 0;
					this.object.position.z = 30;
					this.object.rotation.x = -90 * Math.PI / 180;
					this.object.rotation.z = 180 * Math.PI / 180;
					this.object.rotation.y = 45 * Math.PI / 180;

					this.scene.add( this.object );
					this.render.bind(this);


				} );*/

			},

			render(){
				this.renderer.render( this.scene, this.camera )
			},

			animate(){
				window.requestAnimationFrame( this.animate.bind(this) );

				// this.mesh.rotation.x += 0.01;
				// this.mesh.rotation.y += 0.02;

				this.object.scale.set(this.scale, this.scale, this.scale);
				this.object.position.x = this.objectOptions.position.x;
				this.object.position.y = this.objectOptions.position.y;
				this.object.position.z = this.objectOptions.position.z;
				this.object.rotation.x = this.objectOptions.rotation.x;
				this.object.rotation.z = this.objectOptions.rotation.z;
				this.object.rotation.y = this.objectOptions.rotation.y;

				this.render();
			},

			resize(){
				this.camera.aspect = this.$el.clientWidth / this.$el.clientHeight;
				this.camera.updateProjectionMatrix();

				this.renderer.setSize( this.$el.clientWidth, this.$el.clientHeight );
			},

			init(){

				this.draw();
				this.animate();

				window.addEventListener( 'resize', this.resize.bind(this), false );

			}
		},

		components: {

		},

	}
</script>

<style lang="scss">

	.model3d{
		width: 500px;
		height: 300px;
		border: 1px solid #f00;

		canvas{
			width: 100%;
			height: 100%;
		}
	}

</style>