<template lang="pug">
	div
		textarea.textarea(
			@change="onChange",
			rows='1',
			v-autosize
			@keyup="onKeyup",
			@focus="onFocus",
			@blur="onBlur",
			:name="field.name",
			:disabled="field.disabled",
			:readonly="field.readonly",
			autocomplete="off",
			v-model.trim="model"
			)
		.form__placeholder(v-if="field.placeholder"): span(v-html="field.placeholder")


</template>

<script>

	export default {

		props: ['field', 'value', 'error'],

		data() {

			return {

			}
		},

		computed: {

			model: {
				get() {
					return this.value;
				},
				set(value) {
					this.$emit('input', value);
				}
			},

		},

		beforeDestroy(){

		},

		created(){

		},

		mounted(){

		},

		watch:{

		},

		methods:{
			onChange(e){
				this.$emit('onChange', this.model, e);
				if ( this.field.onChange && typeof this.field.onChange === 'function') this.field.onChange(this.model, e);
			},
			onKeyup(e){
				this.$emit('onKeyup', this.model, e);
				if ( this.field.onKeyup && typeof this.field.onKeyup === 'function') this.field.onKeyup(this.model, e);
			},
			onFocus(e){
				this.$emit('onFocus', this.model, e);
				if ( this.field.onFocus && typeof this.field.onFocus === 'function') this.field.onFocus(this.model, e);
			},
			onBlur(e){
				this.$emit('onBlur', this.model, e);
				if ( this.field.onBlur && typeof this.field.onBlur === 'function') this.field.onBlur(this.model, e);
			},
		},

		components:{

		}
	}
</script>

<style scoped lang="scss">
	.textarea{
		resize: none;
		overflow: hidden;
		box-sizing: border-box;
		min-height: 40px;
		transition: none!important;
	}
</style>