<template lang="pug">
	div
		input(
			@change="onChange",
			@keyup="onKeyup",
			@focus="onFocus",
			@blur="onBlur",
			@keydown="onKeyDown",
			@keypress="onKeyPress",
			:type="field.type",
			:name="field.name",
			v-model.trim="model",
			autocomplete="off",
			:disabled="field.disabled",
			:readonly="field.readonly"
			)
		.form__dropdown(v-if="$slots.dropdown", v-scrollbar).scrollbar
			slot(name="dropdown")
		.form__placeholder(v-if="field.placeholder"): span(v-html="field.placeholder")


</template>

<script>

	import Inputmask from 'inputmask'

	export default {

		props: ['field', 'value', 'error'],

		data() {

			return {

			}
		},

		computed: {

			model: {
				get() {
					return this.value;
				},
				set(value) {
					this.$emit('input', value);
				}
			},
		},

		beforeDestroy(){

		},

		created(){

		},

		mounted(){
			if ( this.field.mask ){
				new Inputmask({
					mask: this.field.mask,
					showMaskOnHover: false,
					onincomplete: (e)=>{
						e.target.value = '';
						this.model = '';
					}
				}).mask(this.$el.querySelectorAll('input')[0]);
			}

		},

		watch:{

		},

		methods:{
			onChange(e){
				this.$emit('onChange', this.model, e);
				if ( this.field.onChange && typeof this.field.onChange === 'function') this.field.onChange(this.model, e);
			},
			onKeyup(e){
				this.$emit('onKeyup', this.model, e);
				if ( this.field.onKeyup && typeof this.field.onKeyup === 'function') this.field.onKeyup(this.model, e);
			},
			onFocus(e){
				this.$emit('onFocus', this.model, e);
				if ( this.field.onFocus && typeof this.field.onFocus === 'function') this.field.onFocus(this.model, e);
			},
			onBlur(e){
				this.$emit('onBlur', this.model, e);
				if ( this.field.onBlur && typeof this.field.onBlur === 'function') this.field.onBlur(this.model, e);
			},
			onKeyPress(e){
				if ( this.field.type === 'number' && ( e.which !== 8 && e.which !== 0 && e.which < 48 || e.which > 57 ) ) {
					e.preventDefault();
				}
			},
			onKeyDown(e){
				if ( this.field.type === 'number' && e.which === 40 && e.target.value <= 1 ) {
					e.preventDefault();
				}
			},
		},

		components:{

		}
	}
</script>

<style lang="scss">

</style>