<template lang="pug">
	div
		.form__input-radio(v-for='(item, index) in field.items', :key="index")
			input(
				@change="onChange",
				type="radio",
				:name="field.name",
				:id="field.name+'_'+_uid+'_'+index",
				:disabled="field.disabled",
				v-model="model",
				:value="item.value"
				)
			label(v-html="item.label", :for="field.name+'_'+_uid+'_'+index")


</template>

<script>

	export default {

		props: ['field', 'value', 'error'],

		data() {

			return {

			}
		},

		computed: {

			model: {
				get() {
					return this.value;
				},
				set(value) {
					this.$emit('input', value);
				}
			},
		},

		beforeDestroy(){

		},

		created(){

		},

		mounted(){

		},

		watch:{

		},

		methods:{
			onChange(e){
				this.$emit('onChange', this.model, e);
				if ( this.field.onChange && typeof this.field.onChange === 'function') this.field.onChange(this.model, e);
			}
		},

		components:{

		}
	}
</script>

<style lang="scss">

</style>