<template lang="pug">
	.form__field(:class="[classes, 'form__field_' + field.type,  field.class ? field.class : '', field.disabled ? 'form__field_disabled' : '']")
		.form__title(v-if="field.title", v-html="field.title")

		.form__input
			//- Textarea
			Textarea(v-if="field.type === 'textarea'", :field='field', v-model='model', @onChange="onChange", @onBlur="onBlur", @onKeyup="onKeyup", @onFocus="onFocus", :error="errorMessage", ref="fieldItem")
			//- Checkbox
			Checkbox(v-else-if="field.type === 'checkbox'", :field='field', v-model='model', @onChange="onChange", :error="errorMessage", ref="fieldItem")
			//- Radio
			Radio(v-else-if="field.type === 'radio'", :field='field', v-model='model', @onChange="onChange", :error="errorMessage", ref="fieldItem")
			//- Radiobox
			Radiobox(v-else-if="field.type === 'radiobox'", :field='field', v-model='model', @onChange="onChange", :error="errorMessage", ref="fieldItem")
			//- Select
			Select(v-else-if="field.type === 'select'", :field='field', v-model='model', @onChange="onChange", @onBlur="onBlur", @onFocus="onFocus", :error="errorMessage", ref="fieldItem")
			//- Image
			Counter(v-else-if="field.type === 'counter'", :field='field', v-model='model', @onChange="onChange", @onBlur="onBlur", @onKeyup="onKeyup", @onFocus="onFocus", :error="errorMessage", ref="fieldItem")
			//- Text
			TextInput(v-else, :field='field', v-model='model', @onChange="onChange", @onBlur="onBlur", @onKeyup="onKeyup", @onFocus="onFocus", :error="errorMessage", ref="fieldItem")
				template(slot="dropdown")
					slot(name="dropdown")
			.form__message(v-if="message", v-html="message")

</template>

<script>

	/**
	 * 	title - field title
	 * 	type - input type [text, email, radio, checkbox, textarea, submit]
	 * 	name - input name
	 * 	placeholder - input placeholder
	 * 	disabled - boolean
	 * 	readonly - boolean
	 * 	callbacks: onChange, onKeyup, onFocus, onBlur
	 * 	mask - Inputmask rules
	 * 	value
	 *
	 *	autocomplete - boolean
	 * 		items - array [autocomplete values] {value, html, disabled}
	 *
	 */


	import $ from 'jquery'
	import Textarea from './formFieldTextarea.vue'
	import Checkbox from './formFieldCheckbox.vue'
	import Radio from './formFieldRadio.vue'
	import Radiobox from './formFieldRadiobox.vue'
	import Select from './formFieldSelect.vue'
	import Counter from './formFieldCounter.vue'
	import TextInput from './formFieldText.vue'


	export default {

		props: ['field', 'value'],

		data() {

			return {
				error: false,
				errorMessage: false,
				focused: false,
				message: false,

				fieldItem: this.$refs.fieldItem,

				showOuterHint: false,

				rules: {
					current: {
						empty: {
							message: 'Заполните поле'
						}
					},
					radio: {
						unchecked: {
							message: 'Отметьте один из вариантов'
						}
					},
					checkbox: {
						unchecked: {
							message: 'Для продолжения нужно подтверждение'
						}
					},
					select: {
						empty: {
							message: 'Выберите один из вариантов'
						}
					},
					email: {
						empty: {
							message: 'Заполните поле'
						},
						pattern: [
							{
								regex: /^[-._a-z0-9а-я]+@(?:[a-z0-9а-я][-a-z0-9а-я]+\.)+[a-zа-я]{2,6}$/i,
								message: 'Проверьте корректность E-mail'
							}
						],
						// antiPattern: [
						// 	{
						// 		regex: 'test@test.test',
						// 		message: 'Какая, блин, оригинальная почта...'
						// 	}
						// ]
					},

					number: {
						empty: {
							message: 'Заполните поле'
						},
						pattern: [
							{
								regex: /^\d+$/i,
								message: 'Поле должно содержать только числовые символы'
							}
						],
					}
				}
			}
		},

		computed: {

			model: {
				get() {
					return this.value;
				},
				set(value) {
					this.$emit('input', value);
				}
			},

			filled: function(){
				return Array.isArray(this.model) ? this.model.length : !!this.model;
			},

			classes: function (){
				return {
					'form__field_multiple': this.field.multiple,
					'is-error': this.error,
					'is-focused': this.focused,
					'is-filled': this.filled || this.model && ((this.model && this.model.toString().length) || (this.field.type === 'date' && this.model.length && typeof this.model === 'object')),
				}
			}

		},

		beforeDestroy(){


			$('body').off(`mousedown.${this._uid}`, (e)=>{})
		},

		created(){

			if ( this.model && this.model === undefined && this.field.type !== 'submit') {
				this.model = this.field.type === 'multiselect' ? [] : '';
			}
		},

		mounted(){

			this.fieldItem = this.$refs.fieldItem;

			if ( this.$slots['hint:left'] || this.$slots['hint:right'] ){
				$('body').on(`mousedown.${this._uid}`, (e)=>{
					if(this.showOuterHint){
						if ( $(e.target).closest('.form__field')[0] !== this.$el ) {
							this.showOuterHint = false;
						}
					}
				});

			}
		},

		watch:{

		},

		methods:{

			updateFileList(){
				this.$refs.fieldItem.updateExternalModel();
			},

			onChange(val, e){
				this.error = !1;
				this.message = '';
				this.errorMessage = '';

				/*if ( val ) {
					this.filled = !0;
				} else {
					this.filled = !1;
				}*/
			},

			onKeyup(val, e, w){
				// if ( val.length ) {
				// 	this.filled = !0;
				// } else {
				// 	this.filled = !1;
				// }

				this.$emit('onChange', val, w);
			},
			onFocus(val, e){
				this.focused = !0;
			},
			onBlur(val, e){
				this.focused = !1;
			},

			validate(addrules = {}) {

				this.error = false;
				this.message = false;
				this.errorMessage = false;

				let err = [],
					val = this.model,
					required = addrules === false ? false : this.field.required,
					rules,
					type = required;

				if ( (type === 'true' || type === true) && !!this.rules[this.field.type] ) {
					type = this.field.type
				} else if ( !this.rules[type] ) {
					type = 'current';
				}

				rules = Object.assign({}, this.rules[type], (this.field.validation || {}), typeof addrules === 'boolean' ? {} : addrules);

				if ( (required || val.length ) && !this.field.disabled && !!rules ){
					for (let rule in rules) {
						if (rules.hasOwnProperty(rule)) {
							switch (rule){
								case 'empty':
									if ( (Array.isArray(val) && val.length < 1) ||  val === '' || val === null) err.push(rules[rule].message);
									break;
								case 'pattern':
									if ( rules[rule].length ) rules[rule].map(item=>{
										if ( item.regex && item.regex instanceof RegExp && !item.regex.test(val) ) err.push(item.message);
									});
									break;
								case 'antiPattern':
									if ( rules[rule].length ) rules[rule].map(item=>{
										if ( item.regex && item.regex instanceof RegExp && item.regex.test(val) ) {
											err.push(item.message);
										} else if ( item.regex && typeof item.regex === 'string' && val === item.regex ){
											err.push(item.message);
										}
									});
									break;
								case 'min':
									if ( val.length < rules[rule].length ) err.push(rules[rule].message);
									break;
								case 'max':
									if ( val.length > rules[rule].length ) err.push(rules[rule].message);
									break;
								case 'unchecked':
									if ( type === 'radio' ){
										let i = 0, radio = document.querySelectorAll(`input[name="${this.field.name}"]`), checked = false;

										for (i; i < radio.length; i++ ){
											if ( radio[i].checked ) {
												checked = true;
												break;
											}
										}
										if ( !checked ) err.push(rules[rule].message);

									} else if ( type === 'checkbox' && !val ) {
										err.push(rules[rule].message);
									}
									break;
								default:

							}
						}
					}
				}

				// console.info(err, val);

				if ( err.length ){
					this.error = true;
					this.errorMessage = err[0];
				}

				return !err.length;
			},

			passError(mes){
				this.error = true;
				this.errorMessage = mes;
			}

		},

		components:{
			Textarea,
			Checkbox,
			Radio,
			Radiobox,
			Select,
			Counter,
			TextInput,
		}
	}
</script>

<style lang="scss">

</style>