<template lang="pug">
	page-wrap
		template(slot="aside")
			scroll-bar.side(:breakpoints="['desktop']")
				.side__inner
					Menu
		template(slot="content")
			.content
				.loader(v-if="listLoading"): include ../../../img/svg/btn-loader.svg
				.content__inner(v-else-if="list.length")
					.catalog
						.catalog__grid
							.catalog__item(v-for="item in list")
								.catalog__item-inner
									.catalog__item-image
										img(v-lazy="item.image")
									.catalog__item-name #[span {{ item.collection }}] {{ item.name }}
									.catalog__item-foot
										.catalog__item-price {{ item.price}} руб. #[sub {{ item.dimension }}]
										.catalog__item-control
											.btn.btn_icon(@click="toggleCart(item.id, !item.in_cart)", :class="{'btn_fill': item.in_cart}"): icon(name="basket")
											.btn.btn_icon.show(@click="toggleFavourite(item.id, !item.in_favourite)", :class="{'btn_fill': item.in_favourite}"): icon(name="favourite")

				.content__inner(v-else)
					.text
						h1 Вы пока еще ничего не выбрали
						p Положите в избранное понравившейся товар для удобного выбора
						p
							.btn.btn_fill Продолжить покупки


</template>

<script>

	import Menu from './menu'
	import {mapState} from 'vuex'


	export default {
		data () {
			return {
				listLoading: false,
				loading: false,
			}
		},

		computed: {

			...mapState({
				product: state => state.product,
				list: state => state.product.list,
			}),

		},

		mounted (){
			this.loadProducts();
		},

		methods: {

			loadProducts(){
				this.listLoading = true;

				this.$store.dispatch('product/favourite')
					.finally(()=>{
						this.listLoading = false;
					});

			},

			toggleCart(id, add){
				if ( this.loading ) return;
				this.loading = true;
				this.$store.dispatch(add ? 'product/addToCart' : 'product/removeFromCart', id)
					.then(()=>{
						this.$store.dispatch('base/commonInfo');
					})
					.finally(()=>{
						this.loading = false;
					})
				;
			},

			toggleFavourite(id, add){
				if ( this.loading ) return;
				this.loading = true;
				this.$store.dispatch(add ? 'product/addToFavourite' : 'product/removeFromFavourite', id)
					.then(()=>{
						this.$store.dispatch('base/commonInfo');
						this.loadProducts();
					})
					.finally(()=>{
						this.loading = false;
					})
				;
			},

		},

		watch: {

		},

		components: {
			Menu
		},

	}
</script>

<style lang="scss">

</style>