<template lang="pug">
	.menu
		.menu__scroll(v-dragscroll="$store.state.base.breakpoint.mobile || $store.state.base.breakpoint.tablet")
			.menu__inner
				.menu__item.menu__item_title Главная
				.menu__item: router-link.menu__link(:to="{name:'favourite-list'}") Избранное


</template>

<script>

	export default {
		data () {
			return {

			}
		},

	}
</script>

<style lang="scss">

</style>