<template lang="pug">
	.gallery-wrap
		gallery(:id="`b-gallert-${_uid}`", :images="images", :index="imageOpened", @close="imageOpened = null")

		.gallery-item(v-for="(image, idx) in images",
			@click="imageOpened = idx",
			:key="idx")
			img(v-lazy='image')

</template>

<script>

	export default {

		props: {
			images: {
				type: Array
			}
		},

		data () {
			return {
				imageOpened: null
			}
		},

	}
</script>

<style scoped lang="scss">
	.gallery-wrap{
		font-size: 0;
	}

	.gallery-item{
		margin-bottom: 20px;

		img{
			max-width: 100%;
		}
	}

</style>