<template lang="pug">
	header.header
		.inner
			.header__handler(@click="$store.commit('base/TOGGLE_MENU')"): i
			.header__logo Logo
			.header__menu
				.header__menu-phone.vp-d + 7 (812) 500-09-45
				.btn.btn_fill.vp-d Заказать замер
				.btn.btn_icon.vp-t: icon(name="phone")
				router-link.btn.btn_icon(:to="{name:'favourite-list'}", :class="{'btn_fill': info.in_favourite}")
					transition(mode='out-in', name="zoom")
						.btn__count(v-if="info.in_favourite") {{ info.in_favourite }}
					icon(name="favourite")
				router-link.btn.btn_icon(:to="{name:'cart-list'}", :class="{'btn_fill': info.in_cart}")
					transition(mode='out-in', name="zoom")
						.btn__count(v-if="info.in_cart") {{ info.in_cart }}
					icon(name="basket")


</template>

<script>

	import {mapState} from 'vuex'

	export default {
		data () {
			return {

			}
		},

		mounted (){
		},

		methods: {

		},

		computed: {
			...mapState({
				info: state => state.base.info,
			}),
		},


	}
</script>

<style lang="scss">

</style>