<template lang="pug">
	.wrapper__inner
		Header
		transition(mode='out-in', name="menu")
			Nav(v-if="showMenu")

		.wrapper__body
			.inner
				transition(mode='out-in', name="page")
					router-view

		popup-recall
</template>

<script>


	import Nav from './nav.vue'
	import Header from './header.vue'
	import PopupRecall from './popup/popup-recall'
	import {mapState} from 'vuex'

	export default {
		data () {
			return {

			}
		},

		mounted (){
		},

		methods: {

		},

		computed: {
			...mapState({
				showMenu: state => state.base.showMenu,
			}),
		},

		watch: {

		},

		components: {
			Nav, Header, PopupRecall
		},

	}
</script>

<style lang="scss">

</style>