<template lang="pug">
	nav.nav.scrollbar(v-scrollbar)
		.inner
			.nav__menu
				.nav__list
					.nav__item: router-link.nav__link(:to="{name:'home'}") Главная
					.nav__item: router-link.nav__link(:to="{name:'catalog-all'}") Каталог
					.nav__item: router-link.nav__link(:to="{name:'info'}") О нас
					.nav__item: router-link.nav__link(:to="{name:'contacts-map'}") Контакты

			.nav__footer
				.nav__footer-subscribe
					.btn.btn_fill Подписаться на рассылку
				.nav__footer-soc
					.nav__footer-soc-text Мы в соц.сетях
					.btn.btn_fill.btn_icon: icon(name="vk")
					.btn.btn_fill.btn_icon: icon(name="instagram")
				.nav__footer-copy ООО "Подоконники" {{ new Date().getFullYear()}}


</template>

<script>

	export default {
		data () {
			return {

			}
		},

	}
</script>

<style lang="scss">

</style>