<template functional lang="pug">
	.page
		.page__aside
			.page__inner
				slot(name="aside")

		.page__content
			.page__inner
				slot(name="content")


</template>


<style scoped lang="scss">

	.page{
		height: 100%;
		display: flex;
		flex-direction: column;

		@include breakPoint($breakPoint_desktop){
			flex-direction: row;
			margin: 0 (-$gap_compact / 2);
		}

		&__aside{

			@include breakPoint($breakPoint_desktop){
				height: 100%;
				box-sizing: border-box;
				padding: 0 ($gap_compact / 2);
				width: (2 * 100% / 10);
			}
		}

		&__content{
			flex: 1 1 0;

			@include breakPoint($breakPoint_desktop){
				height: 100%;
				box-sizing: border-box;
				padding: 0 ($gap_compact / 2);
				width: (8 * 100% / 10);
			}
		}

		&__inner{
			position: relative;
			height: 100%;


			.page__content &{
				margin: 0 (-$wrapPaddingMobile);

				@include breakPoint($breakPoint_tablet){
					margin: 0 (-$wrapPaddingTablet);
				}

				@include breakPoint($breakPoint_desktop){
					margin: 0 (-$wrapPaddingDesktop) 0 0;
				}
			}
		}



	}
</style>