<template lang="pug">
	.scrollbar(v-scrollbar="options", v-if="showScrollbar", ref="scrollbar")
		slot
	div(v-else)
		slot

</template>

<script>

	export default {
		props: {
			breakpoints: {
				type: Array,
				default() {
					return [];
				},
			},
			options: {
				type: Object,
				default() {
					return {};
				},
			},
		},

		data() {
			return {
				instance: null,
			};
		},

		computed: {
			showScrollbar(){
				return !this.breakpoints.length || this.breakpoints.indexOf(this.$store.state.base.breakpoint.current) >= 0;
			},

			scrollbar(){
				return this.$refs.scrollbar;
			}

		}

	};

</script>

<style scoped lang="scss">

	.scrollbar{
		height: 100%;
		width: 100%;
		position: absolute;
	}

</style>
