@import url('https://fonts.googleapis.com/css?family=Merriweather:300&display=swap&subset=cyrillic-ext');

@font-face {
	font-family: 'DIN Pro';
	font-display: auto;
	src:
			//url("../fonts/din/DINPro-Light.ttf") format("truetype"), /* Safari, Android, iOS */
			url("../fonts/din/DINPro-Light.woff") format("woff"), /* Modern Browsers */
			url("../fonts/din/DINPro-Light.woff2") format("woff2"); /* Modern Browsers */
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'DIN Pro';
	font-display: auto;
	src:
			//url("../fonts/din/DINPro.ttf") format("truetype"), /* Safari, Android, iOS */
			url("../fonts/din/DINPro.woff") format("woff"), /* Modern Browsers */
			url("../fonts/din/DINPro.woff2") format("woff2"); /* Modern Browsers */
	font-weight: 400;
	font-style: normal;
}


@import "scss/mixins";

@import "scss/var";

@import "scss/normalize";

@import "modules/overlayscrollbar";

@import "modules/swiper";

@import "modules/tooltip";

@import "modules/snackbar";

@import "modules/blueimp";

@import "scss/form";

@import "scss/popup";

@import "scss/global";

@import "scss/main";



body {
	@if ($isLocal) {
		&:before{

			content: '';
			@include grid(10, 10px, 10px, rgba(255, 255, 255, 0.05));

			@include breakPoint($breakPoint_tablet){
				@include grid(10, 20px, 44px, rgba(255, 255, 255, 0.05));
			}

			@include breakPoint($breakPoint_desktop){
				@include grid(10, 20px, 50px, rgba(255, 255, 255, 0.05));
			}
		}
	}
}
