<template lang="pug">
	.compare
		.compare__head(:class="{'compare__head_compact': compact}")
			item-line(:item="list.product", product)

		.compare__props
			scroll-bar.content(:options="opts", ref="sb")
				.content__wide
					.compare__wrap
						item-line(:item="list.price").compare__line_price
						item-line(v-for="(item, index) in list.props", :key="index", :item="item")



</template>

<script>

	import {mapState} from 'vuex'
	import ItemLine from './line'

	export default {

		components: {
			ItemLine
		},

		data () {
			return {
				listLoading: false,
				compact: false,
				opts: {
					callbacks: {
						onScroll: (e)=>{
							this.compact = this.scrollbar.scroll().ratio.y >= 0.01;
						},
					}
				}
			}
		},

		computed: {
			...mapState({
				list: state => state.compare.list,
			}),

			scrollbar(){
				return this.$refs.sb && this.$refs.sb.scrollbar && this.$refs.sb.scrollbar.scrollbar ? this.$refs.sb.scrollbar.scrollbar : {};
			}
		},

		mounted (){
			this.loadProducts();
		},

		methods: {
			loadProducts(){
				this.listLoading = true;
				this.$store.dispatch('compare/list')
					.finally(()=>{
						this.listLoading = false;
					});
			},
		},

		watch: {
		},

	}
</script>

<style scoped lang="scss">
	.compare{
		height: 100%;
		display: flex;
		flex-direction: column;

		&__props{
			position: relative;
			flex: 1 1 0;

			margin: 0 (-$wrapPaddingMobile);

			@include breakPoint($breakPoint_tablet){
				margin: 0 (-$wrapPaddingTablet);
			}

			@include breakPoint($breakPoint_desktop){
				margin: 0 (-$wrapPaddingDesktop);
			}
		}
		&__line_price{
			&::v-deep{
				.compare__case-text{
					font-size: 30px;
				}
			}
		}
	}
</style>