<template lang="pug">
	.compare__line
		.compare__name: .compare__name-text(v-if="item.title") {{ item.title }}
		.compare__description(v-if="item.description")
			.compare__description-text(v-html="item.description")
		.compare__case(v-else-if="item.items", v-dragscroll.x, @dragscrollmove="dragscrollmove", @dragscrollend="dragscrollend")
			.compare__case-inner
				.compare__case-item(v-for="(prop, index) in item.items")
					.compare__case-preview(v-if="prop.image"): img(v-lazy="prop.image")
					.compare__case-title(v-if="prop.name") {{ prop.name }}
					.compare__case-btn(v-if="product && prop.id"): router-link.btn.btn_fill(:to="{name:'catalog-all'}") В каталог

					.compare__case-text(v-if="prop.text", v-html="prop.text")
			.compare__case-inner
				.compare__case-item(v-for="(prop, index) in item.items")
					.compare__case-image(v-for="image in prop.images"): img(v-lazy="image")






</template>

<script>

	export default {
		props: {
			item: {
				type: Object
			},

			product: {
				type: Boolean,
				default: false
			}
		},

		data () {
			return {
				dragself: false,
			}
		},

		beforeDestroy(){
			this.$eventHub.$off('compare:scroll')
		},

		mounted(){
			this.$eventHub.$on('compare:scroll', (scroll)=>{
				if (!this.dragself) {
					const $el = this.$el.querySelector('.compare__case');
					if ( $el ) $el.scrollLeft = scroll;
				}
			})
		},

		methods: {
			dragscrollmove(p){
				this.dragself = true;
				this.$eventHub.$emit('compare:scroll', p.srcElement.scrollLeft);
			},
			dragscrollend(){
				this.dragself = false;
			}
		}

	}
</script>

<style scoped lang="scss">

	.compare__line{
		padding-bottom: 25px;
		user-select: none;

		@include breakPoint($breakPoint_compact){
			display: flex;
			margin: 0 (-$gap_compact /2);
		}
	}

	.compare__name{
		color: $colorMain;

		@include breakPoint($breakPoint_compact){
			box-sizing: border-box;
			padding: 0 ($gap_compact /2);
			width: 20%;
			min-width: 20%;
		}

		&-text{
			margin-bottom: 12px;
		}
	}

	.compare__description{

		@include breakPoint($breakPoint_compact){
			box-sizing: border-box;
			padding: 0 ($gap_compact / 2);
		}

		&-text{
			color: #fff;
			padding: 12px 15px;
			background: rgba($colorMain, .2);
			border-radius: 4px;
			border: 1px solid $colorMain;

			@include breakPoint($breakPoint_tablet){
				padding: 12px 20px;
			}
		}
	}

	.compare__case{
		overflow: hidden;
		margin: 0 (-$gap_mobile /2);

		@include breakPoint($breakPoint_tablet){
			margin: 0 (-$gap_compact /2);
		}

		@include breakPoint($breakPoint_compact){
			margin: 0;
		}

		&-inner{
			display: flex;
		}

		&-item{
			box-sizing: border-box;
			padding: 0 ($gap_mobile / 2);
			width: calc(50vw - #{$wrapPaddingMobile - ( $gap_mobile / 2)});
			min-width: calc(50vw - #{$wrapPaddingMobile - ( $gap_mobile / 2)});

			@include breakPoint($breakPoint_tablet){
				padding: 0 ($gap_compact / 2);
				width: calc(50vw - #{$wrapPaddingTablet - ( $gap_compact / 2)});
				min-width: calc(50vw - #{$wrapPaddingTablet - ( $gap_compact / 2)});
			}

			@include breakPoint($breakPoint_compact){
				width: calc(20vw - 14px);
				min-width: calc(20vw - 14px);
			}

			@include breakPoint($breakPoint_desktop){
				width: calc(20vw - 16px);
				min-width: calc(20vw - 16px);
			}


		}

		&-preview{
			width: 100%;
			height: 107px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0 auto;

			@include breakPoint($breakPoint_tablet){
				height: 176px;
			}

			img{
				max-width: 100%;
				max-height: 100%;
			}

			.compare__head_compact &{
				@include breakPoint($breakPoint_tablet){
					width: 50%;
					height: 100px;
					float: left;
				}
			}
		}

		&-title{
			text-align: center;
			font-family: $fontTitle;
			font-size: 16px;
			color: $colorMain;
			margin-top: 10px;

			.compare__head_compact &{

				@include breakPoint($breakPoint_tablet){
					text-align: left;
				}
			}
		}

		&-image{
			font-size: 0;
			margin-top: 20px;

			//&:first-child{
			//	margin-top: 0;
			//}
		}

		&-btn{
			text-align: center;
			margin-top: 25px;

			.compare__head_compact &{

				@include breakPoint($breakPoint_tablet){
					text-align: left;
					margin-top: 15px;

					&::v-deep{
						.btn{
							padding: 0 10px;
							height: 30px;
							line-height: 28px;

							&:before, &:after{
								display: none;
							}
						}
					}
				}
			}
		}
	}

</style>