<template lang="pug">
	page-wrap
		template(slot="aside")
			scroll-bar.side(:breakpoints="['desktop']")
				.side__inner
					Menu
		template(slot="content")
			scroll-bar.content
				.content__inner
					.cart
						.loader(v-if="loading"): include ../../../../img/svg/btn-loader.svg
						.cart__title Состав заказа
						template(v-if="cart.list.length")
							.cart__list
								Item(v-for="item in cart.list", :key="item.id", :item="item", :class="{'is-loading': item.loading}")
							.cart__result
								.cart__result-inner
									.cart__result-line
										.cart__result-name Товары
										.cart__result-value {{ cart.price }} руб.
									.cart__result-line
										.cart__result-name Скидка
										.cart__result-value {{ cart.price ? cart.discount : 0}} руб.
									.cart__result-line.cart__result-line_all
										.cart__result-name Итого
										.cart__result-value {{ cart.price ? cart.price - cart.discount : 0}} руб.
									.cart__result-btn
										.btn.btn_fill(@click="checkout()") Оформить заказ
						.cart__text(v-else-if="!firstload") Ваша карзина пуста.




</template>

<script>
	import Menu from '../menu.vue'
	import Item from './item.vue'

	import {mapState} from 'vuex'

	export default {
		data () {
			return {
				loading: false,
				firstload: true,
			}
		},

		computed: {

			...mapState({
				cart: state => state.cart,
			}),
		},


		mounted (){
			this.getOrderList();
		},

		methods: {
			getOrderList(){
				this.loading = true;
				this.$store.dispatch('cart/list')
					.then(()=>{
						this.$store.dispatch('base/commonInfo');
					})
					.finally(()=>{
						this.loading = false;
						this.firstload = false;
					});
			},

			checkout(){
				this.$router.push({ name: 'cart-checkout' });
			}

		},

		watch: {

		},

		components: {
			Menu,
			Item
		},

	}
</script>

<style lang="scss">

</style>