<template lang="pug">
	.cart__item
		.cart__item-inner
			.cart__item-top
				.cart__item-image: img(v-lazy='item.image')
				.cart__item-info
					.cart__item-title #[span {{ item.collection }}] {{item.name}}
					.cart__item-price {{parseInt(item.price * item.priceRatio)}} руб. #[sub {{item.dimension}}]
			.cart__item-form
				.form__wrap
					field(:field='fields.width', v-model='width')
					field(:field='fields.lgth', v-model='lgth')
					field(:field='fields.quantity', v-model='quantity')
					.form__field.form__field_price
						.form__title Итого
						.form__input {{ item.cost }} руб.
			.cart__item-remove
				.btn.btn_icon(@click="remove"): icon(name="cart")

</template>

<script>

	import {mapState} from 'vuex'

	export default {

		props: ['item'],

		data () {
			return {

				fields: {
					width: {
						type: 'select',
						name: 'width',
						title: 'Ширина (см)',
						required: true,
						items: [],
					},
					lgth: {
						type: 'number',
						name: 'lgth',
						title: 'Длина (см)',
						required: true,
					},
					quantity: {
						type: 'counter',
						name: 'quantity',
						title: 'Количество',
						required: true,
					}
				}
			}
		},

		computed: {

			...mapState({
				model: state => state.cart.list,
			}),

			width: {
				get() {
					return this.model.find( i => i.id === this.item.id ).model.width;
				},
				set(value) {
					this.$store.commit("cart/SET_ITEM_PROP", {name: 'width', id: this.item.id, value});
				}
			},

			lgth: {
				get() {
					return this.model.find( i => i.id === this.item.id ).model.lgth;
				},
				set(value) {
					this.$store.commit("cart/SET_ITEM_PROP", {name: 'lgth', id: this.item.id, value});
				}
			},

			quantity: {
				get() {
					return this.model.find( i => i.id === this.item.id ).model.quantity;
				},
				set(value) {
					this.$store.commit("cart/SET_ITEM_PROP", {name: 'quantity', id: this.item.id, value});
				}
			},
		},

		mounted (){
			this.fields.width.items = [...this.item.conditions.width.options];
		},

		methods: {
			checkValue(){
				this.$store.commit("cart/CALC_PRICE");
			},

			remove(){
				this.$store.dispatch('cart/remove', this.item.id)
					.then(()=>{
						this.$store.dispatch('base/commonInfo');
					});
			}
		},

		watch: {
			width(){
				this.checkValue();
			},
			lgth(){
				this.checkValue();
			},
			quantity(){
				this.checkValue();
			},
		},

		components: {

		},

	}
</script>

<style lang="scss">

</style>