<template lang="pug">
	transition(mode='out-in', name="popup", @beforeEnter="onStart", @enter="$emit('onOpen')", @afterLeave="onEnd")
		.popup(v-if="value")
			.popup__overlay
			.popup__layout
				.popup__close(v-if="!hideCloseBtn", @click="onClose"): .btn.btn_icon.btn_fill: icon(name="cross-remove")
				.popup__content
					.popup__icon(v-if="icon"): icon(:name="icon")
					slot

</template>

<script>
	export default {

		props: {
			value: {
				type: Boolean,
				default: false
			},

			icon: {
				type: String,
				default: ''
			},

			hideCloseBtn: {
				type: Boolean,
				default: false
			}
		},

		data() {
			return {
			}
		},


		destroyed(){
		},

		computed:{

		},

		watch:{
			value(val){

				if ( !val ) this.$emit('onClose');
			}
		},

		mounted(){

		},

		methods:{
			onClose(e){
				this.$emit('input', false);
			},

			onStart(){
				document.body.style.paddingRight = this.scrollWidth() + 'px';
				//-document.querySelector('.msd__main-header').style.marginRight = this.scrollWidth() + 'px';
				document.body.style.overflow = 'hidden';
			},

			onEnd(el){
				if ( !document.getElementsByClassName('popup').length ) {
					document.body.style.overflow = '';
					document.body.style.paddingRight = '';
					//-document.querySelector('.msd__main-header').style.marginRight = '';
				}
			},

			scrollWidth(){
				return window.innerWidth - document.body.clientWidth;
			}
		},

	}
</script>

