<template lang="pug">
	popup(v-model="value").popup_search
		.popup__title Поиск
		.popup__search
			input(v-model="search", type="text", placeholder="Crystallit, например")
		.popup__submit
			.btn.btn_fill Найти
		.popup__relative
			.popup__relative-title Возможно вы ищете это
			.popup__relative-tags
				.tag Crystallit венге
				.tag Заглушка Crystallit
				.tag Moller подоконники
				.tag Crystallit заглушки


</template>

<script>

	export default {

		props: {
			value: {
				type: Boolean,
				default: false
			},
		},

		data () {
			return {

				search: '',
			}
		},

	}
</script>

<style scoped lang="scss">

	.popup_search{
		.popup{
			&__layout{
				background: transparent;
				border: 0;
				width: 1084px;
				color: $colorMain;
			}

			&__content{
				padding: 0;
			}
			&__close{
				position: absolute;
				top: 0;
				right: 0;

			}
			&__title{
				margin-bottom: 100px;
			}
			&__search{
				margin-bottom: 40px;

				@include breakPoint($breakPoint_tablet){
					margin-bottom: 80px;
				}

				input{
					font-size: 20px;
					font-family: $fontTitle;
					width: 100%;
					box-sizing: border-box;
					padding: 10px 0;
					border-bottom: 1px solid rgba($colorMain, 1);

					@include breakPoint($breakPoint_tablet){
						font-size: 40px;
					}
				}
			}
			&__submit{
				margin-bottom: 70px;
			}
			&__relative{
				&-title{
					margin-bottom: 17px;
					font-size: 12px;

					@include breakPoint($breakPoint_tablet){
						font-size: 14px;
					}
				}
				&-tags{}
			}

		}
	}

</style>