<template lang="pug">
	div
		popup(v-model="opened", icon="phone").popup_recall
			.popup__title Заказать звонок
			.popup__text Мы перезвоним через 30 секунд
			form-wrap(ref="form").popup__form
				field(:field='fields.recall', v-model='phone')
			.popup__footer
				.btn.btn_fill(@click="getReacall") Перезвоните мне

		popup(v-model="infoPopup.open", icon="cart").popup_info
			.popup__title {{ infoPopup.title }}
			.popup__text {{ infoPopup.text }}
			.popup__footer
				.btn.btn_fill(@click="infoPopup.open = false") Ок


</template>

<script>
	import {mapState} from 'vuex'

	export default {


		data () {
			return {

				fields: {

					recall: {
						type: 'text',
						placeholder: 'Телефон',
						mask: '+7 999 999-99-99',
						required: true,
					},
				},

				infoPopup: {
					open: false,
					title: '',
					text: '',
				},

				phone: ''

			}
		},

		computed: {

			...mapState({
				userAddress: state => state.cart.userAddress,
			}),

			opened: {
				get() {
					return this.$store.state.base.showRecallPopup;
				},
				set(value) {
					this.$store.commit("base/SET_POPUP_RECALL", value);
				}
			},


		},


		methods:{
			open(){
				this.opened = true;
			},

			getReacall(){
				this.$refs.form.validate()
					.then(()=>{
						this.$store.dispatch('base/getRecall', this.phone)
							.then(res => {
								this.opened = false;
								if ( res.info_popup ){
									this.infoPopup.open = true;
									this.infoPopup.title = res.info_popup.title || 'Заказ оформлен';
									this.infoPopup.text = res.info_popup.message || 'Спасибо за заказ, наш менеджер свяжется с вами.';
								}
							})
					}, error => {
						this.$snackbar({
							type: 'error',
							message: 'Укажите номер телефона',
						})
					});
			}
		}

	}
</script>

<style scoped lang="scss">

	.popup_recall{

	}

	.popup__form{
		max-width: 350px;
		margin: 0 auto;
	}

	.popup__title{
		margin-bottom: 40px;
		text-align: center;
	}

	.popup__text{
		margin-bottom: 40px;
		text-align: center;
	}

	.popup__footer{
		margin-top: 40px;
		text-align: center;
	}



</style>