<template lang="pug">
	popup(v-model="opened", icon="location").popup_address
		.popup__address
			.popup__address-info
				.popup__address-title Добавление адреса
				.popup__address-form
					form-wrap.form__wrap(ref="form")
						field(:field='fields.user_address_street', v-model='user_address_street')
						field(:field='fields.user_address_house', v-model='user_address_house').half
						field(:field='fields.user_address_part', v-model='user_address_part').half
						field(:field='fields.user_address_room', v-model='user_address_room').half
						field(:field='fields.user_address_floor', v-model='user_address_floor').half
						field(:field='fields.user_address_comment', v-model='user_address_comment')

				.popup__address-btn
					.btn.btn_fill(@click="click") Ок

			yandex-map(
				:coords="coordinates",
				:zoom="zoom",
				:controls="controls",
				ref="map",
				@click="onMapClick",
				@map-was-initialized="onMapInit",
				).popup__address-map
				ymap-marker(
					v-if="addressCoordinates.length",
					:coords="addressCoordinates",
					:markerId="_uid",
					:icon="icon",
				)


</template>

<script>
	import { ymapMarker } from 'vue-yandex-maps'
	import {mapState} from 'vuex'

	export default {

		components: {
			ymapMarker
		},

		data () {
			return {
				opened: false,
				addressCoordinates: [],
				coordinates: [0, 0],
				icon: {
					layout: 'default#image', // 'default#imageWithContent' для использования с контентом
					imageHref: require('../../../img/svg/marker.svg'), // адрес изображения или data:image/svg+xml;base64
					imageSize: [32, 54], // размер иконки в px
					imageOffset: [-16, -54], // смещение иконки в px,
				},
				zoom: 10,
				controls: [],

				fields: {
					user_address_street: {
						title: 'Улица',
						type: 'text',
						required: true,
					},
					user_address_house: {
						title: 'Номер дома',
						type: 'text',
						required: true,
					},
					user_address_part: {
						title: 'Корпус',
						type: 'text',
					},
					user_address_room: {
						title: 'Квартира/офис',
						type: 'text',
						required: true,
					},
					user_address_floor: {
						title: 'Этаж',
						type: 'text',
					},
					user_address_comment: {
						title: 'Комментарий курьеру',
						type: 'textarea',
					},
				},


			}
		},

		computed: {

			...mapState({
				userAddress: state => state.cart.userAddress,
			}),

			user_address_street: {
				get() {
					return this.userAddress.user_address_street;
				},
				set(value) {
					this.$store.commit("cart/SET_ADDRESS_PROP", {name: 'user_address_street', value});
				}
			},
			user_address_house: {
				get() {
					return this.userAddress.user_address_house;
				},
				set(value) {
					this.$store.commit("cart/SET_ADDRESS_PROP", {name: 'user_address_house', value});
				}
			},
			user_address_part: {
				get() {
					return this.userAddress.user_address_part;
				},
				set(value) {
					this.$store.commit("cart/SET_ADDRESS_PROP", {name: 'user_address_part', value});
				}
			},
			user_address_room: {
				get() {
					return this.userAddress.user_address_room;
				},
				set(value) {
					this.$store.commit("cart/SET_ADDRESS_PROP", {name: 'user_address_room', value});
				}
			},
			user_address_floor: {
				get() {
					return this.userAddress.user_address_floor;
				},
				set(value) {
					this.$store.commit("cart/SET_ADDRESS_PROP", {name: 'user_address_floor', value});
				}
			},
			user_address_comment: {
				get() {
					return this.userAddress.user_address_comment;
				},
				set(value) {
					this.$store.commit("cart/SET_ADDRESS_PROP", {name: 'user_address_comment', value});
				}
			},
			user_address_lit: {
				get() {
					return this.userAddress.user_address_lit;
				},
				set(value) {
					this.$store.commit("cart/SET_ADDRESS_PROP", {name: 'user_address_lit', value});
				}
			},
			user_address: {
				get() {
					return this.userAddress.user_address;
				},
				set(value) {
					this.$store.commit("cart/SET_ADDRESS_PROP", {name: 'user_address', value});
				}
			},
			user_address_postal: {
				get() {
					return this.userAddress.user_address_postal;
				},
				set(value) {
					this.$store.commit("cart/SET_ADDRESS_PROP", {name: 'user_address_postal', value});
				}
			},
			user_address_country: {
				get() {
					return this.userAddress.user_address_country;
				},
				set(value) {
					this.$store.commit("cart/SET_ADDRESS_PROP", {name: 'user_address_country', value});
				}
			},
			user_address_city: {
				get() {
					return this.userAddress.user_address_city;
				},
				set(value) {
					this.$store.commit("cart/SET_ADDRESS_PROP", {name: 'user_address_city', value});
				}
			},

		},

		mounted(){
		},

		methods:{
			open(){
				this.opened = true;
			},

			onMapInit(){
				ymaps.geolocation.get({
					provider:'yandex',
					mapStateAutoApply:true,
					autoReverseGeocode:false
				}).then((result)=>{
						this.coordinates = result.geoObjects.position;
					},
					(err)=>{

					}
				);
			},
			onMapClick(e){
				this.addressCoordinates = e.get('coords');
				console.info(this.addressCoordinates);
				ymaps.geocode(this.addressCoordinates, {json: true, results: 1}).then((res)=>{

					console.info(res);

					if ( res.GeoObjectCollection.featureMember.length ){

						let object = res.GeoObjectCollection.featureMember[0].GeoObject.metaDataProperty.GeocoderMetaData;

						this.user_address = object.Address.formatted;
						this.user_address_postal = object.Address.postal_code;

						let kinds = {};

						for (let i = 0; i < object.Address.Components.length; i++){
							kinds[object.Address.Components[i].kind] = object.Address.Components[i].name;
						}

						console.info('kinds', kinds, this.user_address);

						this.user_address_country = `${kinds.country || ''} ${kinds.province || ''}`;
						this.user_address_city = kinds.locality || kinds.area || '';
						this.user_address_street = kinds.street || '';
						this.parseHouse(kinds.house);

					}

				}, (err)=>{
					console.warn('Ошибка определения местоположения', err);
				});
			},

			parseHouse(val){

				if (val){
					let house = val,
						part = '',
						lit = '',
						parse = val.match(/[\d\/]+(?=[к])/i)
					;

					// дом
					if (parse && parse.length){
						house = parse[0];
						val = val.replace(parse[0], '');
						lit = val;
					}

					// корпус, строение
					parse = val.match(/[к]([\d\/]+)/i);

					if (parse && parse.length){
						part = parse[1];
						val = val.replace(parse[0], '');
						lit = val;
					}

					this.user_address_house = house;
					this.user_address_part = part;
					this.user_address_lit = lit;

				}

			},


			click(){
				this.$refs.form.validate()
					.then(()=>{
						this.opened = false;
					}, error => {
						this.$snackbar({
							type: 'error',
							message: 'Заполните все необходимые поля',
						})
					});
			}
		}

	}
</script>

<style scoped lang="scss">

	.popup_address{

		&::v-deep .popup__layout{
			width: 940px;

			.form__title{
				color: #fff;
				margin-bottom: 5px;
			}

			.form__field{
				margin-bottom: 15px;
			}
		}
	}

	.half{

		@include breakPoint($breakPoint_compact){
			width: 50%;
		}
	}

	.popup__address{

		@include breakPoint($breakPoint_compact){
			display: flex;
			min-height: calc(100vh - 300px);
		}

		&-info{
			@include breakPoint($breakPoint_compact){
				width: 50%;
				box-sizing: border-box;
				padding-right: 20px;
			}
		}

		&-title{
			font-size: 20px;
			margin-bottom: 10px;
			font-family: $fontTitle;

			@include breakPoint($breakPoint_compact){
				font-size: 24px;
			}
		}
		&-text{
			font-size: 14px;
			margin-bottom: 10px;

			@include breakPoint($breakPoint_compact){
				margin-bottom: 15px;
				font-size: 16px;
			}
		}
		&-btn{
			margin-top: 30px;
		}

		&-map{
			height: 240px;
			margin: 20px -30px -30px;

			@include breakPoint($breakPoint_compact){
				top: 0;
				left: 50%;
				right: 0;
				bottom: 0;
				position: absolute;
				height: auto;
				margin: 0;
			}
		}
	}

</style>