<template lang="pug">
	popup(v-model="opened", icon="location").popup_location
		.popup__location
			.popup__location-info
				.popup__location-title {{ info.title }}
				.popup__location-text {{ info.address }}
				.popup__location-period {{ info.period }}
				.popup__location-contact
					.popup__location-contact-item
						.popup__location-contact-icon: a(:href="`mailto:${info.email}`").btn.btn_icon: icon(name="mail")
						.popup__location-contact-text {{ info.email }}
					.popup__location-contact-item
						.popup__location-contact-icon: a(href="tel:+78125000945").btn.btn_icon: icon(name="phone")
						.popup__location-contact-text + 7 (812) 500-09-45
					.popup__location-contact-item
						.btn.btn_fill Заказать звонок

			yandex-map(
				:coords="info.coordinates",
				:zoom="zoom",
				:controls="controls",
				).popup__location-map
				ymap-marker(
					:coords="info.coordinates",
					:markerId="_uid",
					:icon="icon",
				)


</template>

<script>
	import { ymapMarker } from 'vue-yandex-maps'

	export default {

		props: {

			info: {
				type: Object
			}
		},

		components: {
			ymapMarker
		},

		data () {
			return {
				opened: false,
				icon: {
					layout: 'default#image', // 'default#imageWithContent' для использования с контентом
					imageHref: require('../../../img/svg/marker.svg'), // адрес изображения или data:image/svg+xml;base64
					imageSize: [32, 54], // размер иконки в px
					imageOffset: [-16, -54], // смещение иконки в px,
				},
				zoom: 17,
				controls: []
			}
		},

		methods:{
			open(){
				this.opened = true;
			}
		}

	}
</script>

<style scoped lang="scss">

	.popup_location{

		&::v-deep .popup__layout{
			width: 940px;
		}
	}

	.popup__location{

		@include breakPoint($breakPoint_compact){
			display: flex;
			min-height: calc(100vh - 300px);
		}

		&-info{
			@include breakPoint($breakPoint_compact){
				width: 50%;
				box-sizing: border-box;
				padding-right: 20px;
			}
		}

		&-title{
			font-size: 20px;
			margin-bottom: 10px;
			font-family: $fontTitle;

			@include breakPoint($breakPoint_compact){
				font-size: 24px;
			}
		}
		&-text{
			font-size: 14px;
			margin-bottom: 10px;

			@include breakPoint($breakPoint_compact){
				margin-bottom: 15px;
				font-size: 16px;
			}
		}
		&-period{
			font-size: 12px;
			color: $colorMain;
			margin-bottom: 20px;

			@include breakPoint($breakPoint_compact){
				font-size: 14px;
			}
		}
		&-contact{
			&-item{
				display: flex;
				align-items: center;
				margin-bottom: 15px;

				@include breakPoint($breakPoint_compact){
					margin-bottom: 20px;
				}
			}
			&-icon{
				margin-right: 16px;
			}
			&-text{}

		}
		&-map{
			height: 240px;
			margin: 20px -30px -30px;

			@include breakPoint($breakPoint_compact){
				top: 0;
				left: 50%;
				right: 0;
				bottom: 0;
				position: absolute;
				height: auto;
				margin: 0;
			}
		}
	}

</style>