<template lang="pug">
	.wrapper(:class="[{'is-menu-open': showMenu, 'is-touch': isTouch}, `wrapper_${theme}`]")
		Layout
		.theme-handler(@click="changeTheme", :class="{'is-action': busy}")
			include ../img/svg/icon_theme.svg
		popup-search


</template>

<script>

	import Layout from './components/layout'
	import ViewPort from '../js/main/module.viewport.js'
	import PopupSearch from './components/popup/popup-search'
	import {mapState} from 'vuex'

	export default {
		data () {
			return {
				themeDark: true,
				busy: false,
			}
		},

		mounted (){
			new ViewPort({
				'0': ()=>{
					this.$store.commit('base/SET_VIEWPORT', 'mobile');
				},
				'768': ()=>{
					this.$store.commit('base/SET_VIEWPORT', 'tablet');
				},
				'1024': ()=>{
					this.$store.commit('base/SET_VIEWPORT', 'compact');
				},
				'1360': ()=>{
					this.$store.commit('base/SET_VIEWPORT', 'desktop');
				}
			});

			this.$store.dispatch('base/commonInfo');

		},

		methods: {

			changeTheme(){
				if ( !this.busy ){
					this.busy = true;

					setTimeout(()=>{
						this.$store.commit('base/SET_THEME', this.theme === 'light' ? 'dark' : 'light');
					}, 500);

					setTimeout(()=>{
						this.busy = false;
					}, 1000)
				}
			}
		},

		computed: {
			...mapState({
				showMenu: state => state.base.showMenu,
				theme: state => state.base.theme,
			}),

			isTouch(){
				return 'ontouchstart' in window || navigator.msMaxTouchPoints;
			}
		},

		watch: {
			isTouch(v){
				console.info(v)
			},

			'$route' (to, from) {
				this.$store.commit('base/TOGGLE_MENU', false);
			}
		},

		components: {
			Layout,
			PopupSearch
		},

	}
</script>

<style lang="scss">

</style>