<template lang="pug">
	.switch(@click="$emit('click')")

</template>

<script>
	export default {

		props: {
			value: {
				type: Boolean,
				default: false
			},
		},

		data() {
			return {
			}
		},


		computed:{

		},

		watch:{

		},

		mounted(){

		},

		methods:{

		},

	}
</script>

<style lang="scss">


	.switch{



	}


</style>


