<template lang="pug">
	div
		pre {{ $route.meta.title }}

		o-model(:obj="'../model/sill/estera.obj'", :mtl="'../model/sill/estera.mtl'")



</template>

<script>

	import oModel from '../../components/3d';


	export default {
		components: {
			oModel
		},

		data () {
			return {

			}
		},

		mounted (){

		},


	}
</script>

<style lang="scss">

</style>