<template lang="pug">
	svg.icon(xmlns="http://www.w3.org/2000/svg", :width="width", :height="width", viewBox="0 0 24 24", role="presentation", :data-name="name", :fill="iconColor", @click="$emit('click')")
		path(:d="path[name]")

</template>

<script>

	import path from './path'

	export default {

		data(){
			return{
				path
			}
		},

		props: {
			name: {
				type: String,
				default: 'box'
			},
			width: {
				type: [Number, String],
				default: 24
			},
			iconColor: {
				type: String,
				default: 'currentColor'
			},

		},

		methods: {

		},
	}
</script>
