<template lang="pug">
	page-wrap
		template(slot="aside")
			scroll-bar.side(:breakpoints="['desktop']")
				.side__inner
					Menu
		template(slot="content")
			scroll-bar.content
				.loader(v-if="loading"): include ../../../img/svg/btn-loader.svg
				div(v-else)
					.content__inner
						.text
							h1 Способы оплаты
							h3 Оплата в офисе продаж

							p Вы можете оплатить заказ при оформлении или при получении, ранее оформленого заказа, в магазине ТЦ "Мебельвуд" Дальневосточный пр. 14 секция 101.

							h3 Банковская карта

							tab-wrap
								tab-link Описание
								tab-link Характеристики
								tab-item
									p При оформлении заказа выберите Онлайн банковской картой и нажмите Перейти к оплате онлайн. Введите данные карты и нажмите Оплатить. Минимальная сумма оплаты — 1 рубль.
									p К оплате принимаются банковские карты, у которых 16, 18, 19 цифр в номере:
									ul
										li VISA, MasterCard, American Express;
										li VISA Electron/Plus, Cirrus/Maestro, если у них есть код CVC2 и CVV2;
										li МИР;
										li Халва, Совесть, Хоум Кредит.

									p После оплаты заказа вам на почту придет электронный чек. Все электронные чеки хранятся в личном кабинете в разделе Электронные чеки.
								tab-item
									p ...

							h3 Оплата по безналичному расчету

							ul
								li заключение долгосрочных и разовых договоров;
								li предоставление полного комплекта документов;
								li обслуживание квалифицированным менеджером;
								li доставку на следующий день после поступления денежных средств на расчетный счет продавца;
								li организацию доставки в регионы;
								li информационную поддержку постоянных клиентов;
								li индивидуальный подход к каждому клиенту.

							h3 Характеристики

							p Производитель: #[span.color Crystallit]
							p Цвет: #[span.color Орех]
							p Декоры: #[span.color Под дерево]
							p Материал: #[span.color ПВХ]
							p Степень блеска: #[span.color Глянцевый]

							p
								img(src='http://placekitten.com/g/800/600')

							blockquote Этот параметр также показывает количество материла, используемое при производстве ПД. Стоит обратить внимание, что заявленные параметры не соответствуют реалиям. Подоконник Меллер отличается на 0,2 мм, Кристаллит на 0,9 мм, Данке не заявляет официально толщину, наверное, потому, что она самая наименьшая.





</template>

<script>

	// На сайте
	// При поллучении

	import Menu from './menu'


	export default {
		data () {
			return {
				loading: false,
			}
		},

		computed: {



		},

		mounted (){


		},

		methods: {

		},

		watch: {

		},

		components: {
			Menu
		},

	}
</script>

<style lang="scss">

</style>