<template lang="pug">
	.menu
		.menu__scroll(v-dragscroll="$store.state.base.breakpoint.mobile || $store.state.base.breakpoint.tablet")
			.menu__inner
				.menu__item.menu__item_title Покупателям
				.menu__group
					.menu__item: .menu__link.is-active Способы оплаты
					.menu__submenu(v-if="$store.state.base.breakpoint.desktop")
						.menu__item: .menu__link.is-active Оплата в офисе
						.menu__item: .menu__link Банковская карта
						.menu__item: .menu__link Оплата по безналичному расчету
				.menu__group
					.menu__item: .menu__link Доставка
					//-.menu__submenu
						.menu__item: .menu__link Доставка 1
						.menu__item: .menu__link Доставка 2
						.menu__item: .menu__link Доставка 3
				.menu__group
					.menu__item: .menu__link Возврат
					//-.menu__submenu
						.menu__item: .menu__link Возврат 1
						.menu__item: .menu__link Возврат 2
						.menu__item: .menu__link Возврат 3
				.menu__group
					.menu__item: .menu__link Юридическим лицам
					//-.menu__submenu
						.menu__item: .menu__link Юридическим лицам 1
						.menu__item: .menu__link Юридическим лицам 2
						.menu__item: .menu__link Юридическим лицам 3

		.menu__scroll(v-dragscroll="!$store.state.base.breakpoint.desktop", v-if="$store.state.base.breakpoint.tablet || $store.state.base.breakpoint.mobile")
			.menu__inner
				.menu__item: .menu__link.is-active Оплата в офисе
				.menu__item: .menu__link Банковская карта
				.menu__item: .menu__link Оплата по безналичному расчету


</template>

<script>

	export default {
		data () {
			return {

			}
		},

		mounted(){
		}

	}
</script>

<style lang="scss">

</style>