<template lang="pug">
	page-wrap
		template(slot="aside")
			scroll-bar.side(:breakpoints="['desktop']")
				.side__inner
					Menu

		template(slot="content")
			scroll-bar.content(:breakpoints="['mobile', 'tablet']")
				.content__inner
					.contacts
						.contacts__inner
							.contacts__case.contacts__case_aside.contacts__case_address
								.contacts__case-inner
									scroll-bar(:breakpoints="['compact', 'desktop']")
										Address

							.contacts__case.contacts__case_main.contacts__case_transport
								.contacts__case-inner
									scroll-bar(:breakpoints="['compact', 'desktop']")
										.contacts__content
											.contacts__title Как проехать на общественном транспорте?

											.contacts__transport-wrap
												.contacts__transport
													.contacts__transport-title От м. «Проспект Большевиков»
													.contacts__transport-item
														.contacts__transport-icon: icon(name="transport-tram")
														.contacts__transport-text Трамвай: #[span 27] #[span 65] #[span A]
													.contacts__transport-item
														.contacts__transport-icon: icon(name="transport-trolley")
														.contacts__transport-text Троллейбус: #[span 33]
													.contacts__transport-item
														.contacts__transport-icon: icon(name="transport-bus")
														.contacts__transport-text Маршрутные такси: #[span 209] #[span 254] #[span 269]
													.contacts__transport-item
														.contacts__transport-icon: icon(name="transport-bus")
														.contacts__transport-text Бесплатный автобус до ТРК «Лондон МОЛЛ» каждые 5-10 минут.

												.contacts__transport
													.contacts__transport-title От м. «Проспект Большевиков»
													.contacts__transport-item
														.contacts__transport-icon: icon(name="transport-tram")
														.contacts__transport-text Трамвай: #[span 27] #[span A]
													.contacts__transport-item
														.contacts__transport-icon: icon(name="transport-bus")
														.contacts__transport-text Маршрутные такси: #[span 83] #[span 269]

												.contacts__transport
													.contacts__transport-title От м. «Улица Дыбенко»
													.contacts__transport-item
														.contacts__transport-icon: icon(name="transport-tram")
														.contacts__transport-text Трамвай: #[span 23] #[span 65]
													.contacts__transport-item
														.contacts__transport-icon: icon(name="transport-trolley")
														.contacts__transport-text Троллейбус: #[span 33]
													.contacts__transport-item
														.contacts__transport-icon: icon(name="transport-bus")
														.contacts__transport-text Маршрутные такси: #[span 83] #[span 69]

												.contacts__transport
													.contacts__transport-title От м. «Новочеркасская»
													.contacts__transport-item
														.contacts__transport-icon: icon(name="transport-tram")
														.contacts__transport-text Трамвай: #[span 23] #[span 65]
													.contacts__transport-item
														.contacts__transport-icon: icon(name="transport-trolley")
														.contacts__transport-text Троллейбус: #[span 33]
													.contacts__transport-item
														.contacts__transport-icon: icon(name="transport-bus")
														.contacts__transport-text Маршрутные такси: #[span 5] #[span 83] #[span 209] #[span 254] #[span 269]

												.contacts__transport
													.contacts__transport-title От м. «Ломоносовская»
													.contacts__transport-item
														.contacts__transport-icon: icon(name="transport-tram")
														.contacts__transport-text Трамвай: #[span 27]
													.contacts__transport-item
														.contacts__transport-icon: icon(name="transport-bus")
														.contacts__transport-text Маршрутные такси: #[span 5]

												.contacts__transport
													.contacts__transport-title От м. «Рыбацкое»
													.contacts__transport-item
														.contacts__transport-icon: icon(name="transport-tram")
														.contacts__transport-text Трамвай: #[span 27]


</template>

<script>
	import Menu from '../menu.vue'
	import Address from '../address.vue'

	export default {
		data () {
			return {

			}
		},


		components: {
			Menu,
			Address
		},

	}
</script>

<style lang="scss">

</style>