.snackbar{
	&-container{
		transition: all 500ms ease;
		transition-property: top, right, bottom, left, opacity;
		position: fixed;
		justify-content: space-between;
		align-items: center;
		text-align: center;
		line-height: 22px;
		bottom: -100px;
		top: -100px;
		opacity: 0;
		z-index: 9999;
		//max-width: 568px;
		display: inline-flex;
		margin: 24px;

		min-height: 40px;
		background: #424242;
		border-radius: 4px;
		color: #fff;
		box-sizing: border-box;
		padding: 10px 24px;
		font-size: 14px;
		box-shadow: 0 3px 5px rgba(0, 0, 0, 0.01),
		0 1px 18px rgba(0, 0, 0, 0.12),
		0 6px 10px rgba(0, 0, 0, 0.14);

		p{
			text-align: left;
			line-height: 1.5!important;
		}

		.action{
			background: inherit;
			display: inline-block;
			border: none;
			font-size: inherit;
			padding: 0;
			min-width: min-content;
			cursor: pointer;
			font-weight: 600;
			margin-left: 100px;
			text-align: right;
			white-space: nowrap;
		}

		&.success{
			background: #5baf1d;
		}

		&.error{
			background: $colorRed;
		}

		&.info{
			background: #00B6F3;
		}

		&.warning{
			background: #FB8C00;
		}
	}


	&-pos{
		bottom: auto !important;
		top: 0;
		left: 50%;
		transform: translate(-50%, 0);
	}
}


