/// Urlencode the SVG string
/// @param {String} $svg - SVG image to encode
/// @return {String} - Encoded SVG data uri
@function swiper-svg-uri($svg) {
	$encoded: '';
	$chunkSize: 2048;
	$index: 0;
	$loops: ceil(str-length($svg) / $chunkSize);

	$map: (
			"%": "%25",
			"<": "%3C",
			">": "%3E",
			" ": "%20",
			"!": "%21",
			"*": "%2A",
			'"': "%22",
			";": "%3B",
			":": "%3A",
			"@": "%40",
			"&": "%26",
			"=": "%3D",
			"+": "%2B",
			"$": "%24",
			",": "%2C",
			"/": "%2F",
			"?": "%3F",
			"#": "%23",
			"[": "%5B",
			"]": "%5D"
	);

	@for $i from 1 through $loops {
		$chunk: str-slice($svg, $index, $index + $chunkSize - 1);
		@each $search, $replace in $map {
			$chunk: swiper-str-replace($chunk, $search, $replace);
		}
		$encoded: #{$encoded}#{$chunk};
		$index: $index + $chunkSize;
	}

	@return url("data:image/svg+xml;charset=utf-8,#{$encoded}");
}

/// Replace `$search` with `$replace` in `$string`
/// @author Hugo Giraudel
/// @link http://sassmeister.com/gist/1b4f2da5527830088e4d
/// @param {String} $string - Initial string
/// @param {String} $search - Substring to replace
/// @param {String} $replace ('') - New value
/// @return {String} - Updated string
@function swiper-str-replace($string, $search, $replace: '') {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + swiper-str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

$themeColor: #007aff !default;
$colors: (white: #ffffff, black: #000000) !default;

.swiper-container {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	list-style: none;
	padding: 0;
	/* Fix of Webkit flickering */
	z-index:1;
}
.swiper-container-no-flexbox {
	.swiper-slide {
		float: left;
	}
}
.swiper-container-vertical > .swiper-wrapper {
	flex-direction: column;
}
.swiper-wrapper {
	position:relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: flex;
	transition-property:transform;
	box-sizing: content-box;
}
.swiper-container-android .swiper-slide,
.swiper-wrapper {
	transform:translate3d(0px,0,0);
}
.swiper-container-multirow > .swiper-wrapper {
	flex-wrap: wrap;
}
.swiper-container-free-mode > .swiper-wrapper {
	transition-timing-function: ease-out;
	margin: 0 auto;
}
.swiper-slide {
	flex-shrink: 0;
	width: 100%;
	height: 100%;
	position: relative;
	transition-property: transform;
}
.swiper-slide-invisible-blank {
	visibility: hidden;
}
/* Auto Height */
.swiper-container-autoheight {
	&, .swiper-slide {
		height: auto;
	}

	.swiper-wrapper {
		align-items: flex-start;
		transition-property: transform, height;
	}
}

/* 3D Effects */
.swiper-container-3d {
	perspective: 1200px;
	.swiper-wrapper, .swiper-slide, .swiper-slide-shadow-left, .swiper-slide-shadow-right, .swiper-slide-shadow-top, .swiper-slide-shadow-bottom, .swiper-cube-shadow {
		transform-style: preserve-3d;
	}
	.swiper-slide-shadow-left, .swiper-slide-shadow-right, .swiper-slide-shadow-top, .swiper-slide-shadow-bottom {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		z-index: 10;
	}
	.swiper-slide-shadow-left {
		background-image: linear-gradient(to left, rgba(0,0,0,0.5), rgba(0,0,0,0));
	}
	.swiper-slide-shadow-right {
		background-image: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0));
	}
	.swiper-slide-shadow-top {
		background-image: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0));
	}
	.swiper-slide-shadow-bottom {
		background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0));
	}
}

/* IE10 Windows Phone 8 Fixes */
.swiper-container-wp8-horizontal {
	&, & > .swiper-wrapper {
		touch-action: pan-y;
	}
}
.swiper-container-wp8-vertical {
	&, & > .swiper-wrapper {
		touch-action: pan-x;
	}
}


//IMPORT_COMPONENTS
