.v-popover{
	cursor: pointer;
	display: inline-block;
	vertical-align: baseline;

	&.open{
		.more{
			&:before{
				transform: rotate(-45deg);
			}

			&:after{
				transform: rotate(45deg);
			}
		}
	}



}

.tooltip {
	display: block !important;
	z-index: 10000;

	.tooltip-inner {
		background: rgba(#000, 0.8);
		color: #fff;
		border-radius: 3px;
		padding: 8px 10px;
		box-shadow: 0 5px 30px rgba(black, .1);
		max-width: 330px;

		ul{
		}

		li{
			margin: 13px 0;

			&:first-child{
				margin-top: 0;
			}

			&:last-child{
				margin-bottom: 0;
			}
		}

		.link{
			color: #fff;

			&:hover{
				color: #fff;
			}
		}
	}

	.tooltip-arrow {
		width: 0;
		height: 0;
		border-style: solid;
		position: absolute;
		margin: 5px;
		border-color: rgba(#000, 0.8);
		z-index: 1;
	}

	&[x-placement^="top"] {
		margin-bottom: 5px;

		.tooltip-arrow {
			border-width: 5px 5px 0 5px;
			border-left-color: transparent !important;
			border-right-color: transparent !important;
			border-bottom-color: transparent !important;
			bottom: -5px;
			left: calc(50% - 5px);
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	&[x-placement^="bottom"] {
		margin-top: 5px;

		.tooltip-arrow {
			border-width: 0 5px 5px 5px;
			border-left-color: transparent !important;
			border-right-color: transparent !important;
			border-top-color: transparent !important;
			top: -5px;
			left: calc(50% - 5px);
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	&[x-placement^="right"] {
		margin-left: 5px;

		.tooltip-arrow {
			border-width: 5px 5px 5px 0;
			border-left-color: transparent !important;
			border-top-color: transparent !important;
			border-bottom-color: transparent !important;
			left: -5px;
			top: calc(50% - 5px);
			margin-left: 1px;
			margin-right: 0;
		}
	}

	&[x-placement^="left"] {
		margin-right: 5px;

		.tooltip-arrow {
			border-width: 5px 0 5px 5px;
			border-top-color: transparent !important;
			border-right-color: transparent !important;
			border-bottom-color: transparent !important;
			right: -5px;
			top: calc(50% - 5px);
			margin-left: 0;
			margin-right: 0;
		}
	}

	&[aria-hidden='true'] {
		visibility: hidden;
		opacity: 0;
		transition: opacity .15s, visibility .15s;
	}

	&[aria-hidden='false'] {
		visibility: visible;
		opacity: 1;
		transition: opacity .15s;
	}
}


.tooltip{
	pointer-events: none;
}



.popover{
	pointer-events: all;
	display: block !important;
	z-index: 10000;


	&[x-placement^="top"] {
		margin-bottom: 10px;
	}

	&[x-placement^="bottom"] {
		margin-top: 10px;
	}

	&[x-placement^="right"] {
		margin-left: 10px;
	}

	&[x-placement^="left"] {
		margin-right: 10px;
	}

	&[aria-hidden='true'] {
		visibility: hidden;
		opacity: 0;
		transition: opacity .15s, visibility .15s;
	}

	&[aria-hidden='false'] {
		visibility: visible;
		opacity: 1;
		transition: opacity .15s;
	}

	&-wrapper{

	}


	&-arrow {
		width: 10px;
		height: 10px;
		transform: rotate(45deg);
		background: #6c534b;
		border: 1px solid $colorMain;
		position: absolute;
		margin: 10px;
		z-index: 1;

		.popover[x-placement^="top"] & {
			left: 0;
			bottom: 0;
			margin-bottom: -5px;
			border-left: 0;
			border-top: 0;
		}

		.popover[x-placement^="bottom"] & {
			left: 0;
			top: 0;
			margin-top: -5px;
			border-right: 0;
			border-bottom: 0;
		}

		.popover[x-placement^="right"] & {
			left: 0;
			top: 0;
			margin-left: -5px;
			border-right: 0;
			border-top: 0;
		}

		.popover[x-placement^="left"] & {
			right: 0;
			top: 0;
			margin-right: -5px;
			border-left: 0;
			border-bottom: 0;
		}
	}


	&-inner{
		background: #6c534b;
		color: #fff;
		border: 1px solid $colorMain;
		border-radius: 10px;
		padding: 15px 20px;
		max-width: calc(100vw - 30px);
		box-sizing: border-box;

		@include breakPoint($breakPoint_tablet){
			max-width: 330px;
		}

		p{
			margin: 5px 0;
		}

		a{
			color: $colorMain;

			&:hover{
				text-decoration: underline;
			}

			&[target='_blank'] {
				&:after{
					content: '';
					display: inline-block;
					vertical-align: middle;
					width: 10px;
					height: 10px;
					background: url("../../img/svg/icon_link_open.svg");
					margin-left: 5px;
				}
			}
		}
	}

}