<template lang="pug">

	.filter(:class="{'filter_show': showFilter}")
		.loader(v-if="filtersLoading"): include ../../../img/svg/btn-loader.svg
		.filter__handler(@click="showFilter = !showFilter")
			.filter__handler-icon
				include ../../../img/svg/icon_filter.svg
				transition(mode='out-in', name="zoom")
					.filter__handler-count(v-if="model.length") {{ model.length }}
			.filter__handler-text(v-if="showFilter") Свернуть фильтр
			.filter__handler-text(v-else) Раскрыть фильтр

		.filter__inner(v-if="filters.length")
			.filter__group
				.filter__title Вид каталога
				.filter__list
					.filter__item
						input(type="radio", name="view", value="grid", v-model="view")#viewGrid
						label.filter__item-inner(for="viewGrid")
							.filter__item-icon: include ../../../img/svg/icon_view_grid.svg
							.filter__item-name Все вместе
					.filter__item
						input(type="radio", name="view", value="one", v-model="view")#viewOne
						label.filter__item-inner(for="viewOne")
							.filter__item-icon: include ../../../img/svg/icon_view_one.svg
							.filter__item-name По одной

			.filter__group(v-for="(group, gi) in filters")
				.filter__title {{ group.title }}
				.filter__list
					.filter__item(v-for="(item, ii) in group.list")
						v-popover.filter__item-info(v-if="item.info", :placement="!breakpoint.mobile ? 'right-start' : 'top'", :boundariesElement="!breakpoint.mobile ? 'body' : undefined")
							template(slot="popover")
								div(v-html="item.info", v-close-popover.all)
							.filter__item-info-ico: include ../../../img/svg/icon_question.svg
						input(type="checkbox", :value="item.id", v-model="model", :id="'filter_' + gi + '_' + ii + '_' + _uid")
						label.filter__item-inner(:for="'filter_' + gi + '_' + ii + '_' + _uid", :class="{'filter__item-inner_image': item.image}")
							.filter__item-icon(v-if="item.image", :style="'background-image:url(' + item.image + ')'")
							.filter__item-name {{ item.name }}
							.filter__item-close(v-if="item.image"): include ../../../img/svg/icon_link_close.svg


</template>

<script>

	import {mapState} from 'vuex'


	export default {
		data () {
			return {
				showFilter: false,
				filtersLoading: false,
			}
		},

		computed: {

			...mapState({
				breakpoint: state => state.base.breakpoint,
				filters: state => state.product.filters,
				product: state => state.product,
			}),

			view: {
				get() {
					return this.product.view;
				},
				set(value) {
					this.$store.commit("product/SET_VIEW", value);
				}
			},

			model: {
				get() {
					return this.product.filterModel;
				},
				set(value) {
					this.$store.commit("product/SET_FILTER_MODEL", value);
				}
			},
		},

		mounted (){
			this.loadFilters();
		},

		methods: {
			loadFilters(){
				this.filtersLoading = true;

				this.$store.dispatch('product/filter')
					.finally(()=>{
						this.filtersLoading = false;
					});
			},

		},

		watch: {

		},


	}
</script>

<style scoped lang="scss">

	.filter{



		@include breakPoint(0, $breakPoint_desktop){
			.loader{
				display: none !important;
			}
		}

		&__handler{
			position: absolute;
			top: 11px;
			right: 0;
			white-space: nowrap;
			cursor: pointer;
			color: $colorMain;
			user-select: none;

			&:hover{
				color: $colorText;

				.filter__handler-icon{
					background-color: rgba($colorMain, .7);
				}
			}

			@include breakPoint($breakPoint_desktop){
				display: none;
			}

			&-icon{
				width: 32px;
				height: 24px;
				border: 1px solid $colorMain;
				background-color: rgba($colorMain, .5);
				border-radius: 4px;
				color: #fff;
				position: relative;
				text-align: center;
				display: inline-block;
				vertical-align: middle;
				transition: background-color .3s ease;

				.filter_show &{
					background-color: rgba($colorMain, .7);
				}

				@include breakPoint($breakPoint_tablet){
					width: 46px;
					height: 34px;
				}

				svg{
					width: 16px;
					height: 100%;
				}
			}

			&-count{
				min-width: 16px;
				box-sizing: border-box;
				height: 16px;
				background-color: #fff;
				border-radius: 16px;
				font-size: 11px;
				color: $colorMain;
				text-align: center;
				line-height: 16px;
				position: absolute;
				top: -8px;
				right: -8px;
				font-family: 'Arial', sans-serif;
			}

			&-text{
				display: none;

				@include breakPoint($breakPoint_tablet){
					display: inline-block;
					vertical-align: middle;
					margin-left: 20px;
				}
			}
		}



		&__inner{

			@include breakPoint(0, $breakPoint_desktop){
				position: absolute;
				opacity: 0;
				pointer-events: none;
				background: $colorBackgroundBlack;
				transition: all .5s ease;
				transform: translateY(-100%);
				padding-bottom: 30px;
				box-sizing: border-box;
				z-index: 1;

				@include hideScroll;


				.filter_show & {
					opacity: 1;
					pointer-events: all;
					transform: translateY(0);
				}


				.is-touch{
					margin-right: 0;
					padding-right: 0;
				}

				.wrapper_light &{
					background: $colorBackgroundWhite;
				}
			}


			@include breakPoint(0, $breakPoint_tablet){
				height: calc(100vh - #{$headerHeight + 45px});
			}

			@include breakPoint($breakPoint_tablet, $breakPoint_desktop){
				height: calc(100vh - #{$headerHeightT + 54px});
			}
		}

		&__group{
			margin-top: 35px;
		}
		&__title{
			margin-bottom: 15px;
			color: $colorMain;
		}
		&__list{
			margin-right: -15px;
		}
		&__item{
			display: inline-flex;
			vertical-align: top;
			user-select: none;
			position: relative;
			margin: 0 15px 15px 0;

			input{
				&:checked{
					& ~{

						.filter__item-inner{
							background: rgba($colorMain, .5);
							border-color: $colorMain;

							&_image{
								padding-right: 30px;
							}

							.filter__item-close{
								opacity: 1;
							}
						}

					}
				}
			}

			&-inner{
				white-space: nowrap;
				height: 32px;
				line-height: 32px;
				border: 1px solid rgba($colorMain, .4);
				border-radius: 4px;
				padding: 0 15px;
				background: transparent;
				transition: all .3s ease;
				display: flex;
				align-items: center;
				cursor: pointer;

				&:hover{
					background: rgba($colorMain, .2);
					border-color: $colorMain;
				}
			}
			&-icon{
				width: 32px;
				height: 32px;
				min-width: 32px;
				margin-right: 15px;
				margin-left: -15px;
				border-radius: 4px 0 0 4px;
				cursor: pointer;
				text-align: right;

				svg{
					width: 16px;
					height: 100%;
				}
			}
			&-name{
			}

			&-info{
				position: absolute;
				top: -9px;
				right: -9px;
				width: 16px;
				height: 16px;
				border: 1px solid $colorMain;
				border-radius: 50%;
				background: $colorBackgroundBlack;
				transition: all 0.3s ease;

				.wrapper_light &{
					background: $colorBackgroundWhite;
				}

				&-ico{
					color: #fff;
					width: 16px;
					height: 16px;

					.wrapper_light &{
						color: $colorBackgroundBlack;
					}
				}

				&:hover{
					background: $colorMain;
				}
			}

			&-close{
				position: absolute;
				width: 10px;
				height: 10px;
				right: 12px;
				top: 50%;
				margin-top: -5px;
				cursor: pointer;
				opacity: 0;
				transition: all .3s ease;

				svg{
					display: block;
				}
			}
		}

	}
</style>