<template lang="pug">
	.catalog__grid
		.catalog__item(v-for="item in list")
			router-link.catalog__item-inner(tag="div", :to="{name:'product', params: {id: item.id}}")
				.catalog__item-image
					img(v-lazy="item.image")
				.catalog__item-name #[span {{ item.collection }}] {{ item.name }}
				.catalog__item-foot
					.catalog__item-price {{ item.price}} руб. #[sub {{ item.dimension }}]
					.catalog__item-control
						.btn.btn_icon(@click.prevent="toggleCart(item.id, !item.in_cart)", :class="{'btn_fill': item.in_cart}"): icon(name="cart")
						.btn.btn_icon(@click.prevent="toggleFavourite(item.id, !item.in_favourite)", :class="{'btn_fill': item.in_favourite}"): icon(name="favourite")

</template>

<script>

	export default {

		props: ['list'],

		data () {
			return {
				loading: false,
			}
		},

		methods: {

			toggleCart(id, add){
				if ( this.loading ) return;
				this.loading = true;
				this.$store.dispatch(add ? 'product/addToCart' : 'product/removeFromCart', id)
					.then(()=>{
						this.$store.dispatch('base/commonInfo');
					})
					.finally(()=>{
						this.loading = false;
					})
				;
			},

			toggleFavourite(id, add){
				if ( this.loading ) return;
				this.loading = true;
				this.$store.dispatch(add ? 'product/addToFavourite' : 'product/removeFromFavourite', id)
					.then(()=>{
						this.$store.dispatch('base/commonInfo');
					})
					.finally(()=>{
						this.loading = false;
					})
				;
			},

		}

	}
</script>

<style lang="scss">

</style>