<template lang="pug">
	page-wrap
		template(slot="aside")
			scroll-bar.side(:breakpoints="['desktop']")
				.side__inner
					Menu
					filter-list

		template(slot="content")
			scroll-bar.content
				.content__inner
					.catalog
						.loader(v-if="listLoading"): include ../../../img/svg/btn-loader.svg
						transition(mode='out-in')
							Grid(:list="list", v-if="view === 'grid'")
							One(:list="list", v-else-if="view === 'one'")

</template>

<script>

	import Menu from './menu'
	import FilterList from './filter'
	import Grid from './grid'
	import One from './one'
	import {mapState} from 'vuex'


	export default {
		data () {
			return {
				listLoading: false,
			}
		},

		computed: {

			...mapState({
				list: state => state.product.list,
				view: state => state.product.view,
				filterModel: state => state.product.filterModel,
			}),

		},

		mounted (){
			this.loadProducts();
		},

		methods: {

			loadProducts(){
				this.listLoading = true;

				this.$store.dispatch('product/list')
					.finally(()=>{
						this.listLoading = false;
					});

			},

		},

		watch: {
			filterModel(){
				this.loadProducts()
			}
		},

		components: {
			Menu, Grid, One, FilterList
		},

	}
</script>

<style scoped lang="scss">

</style>