<template lang="pug">
	.catalog__one
		.catalog__slider-wrap
			.catalog__slider
				.catalog__slide
					.catalog__slide-inner
						.catalog__slide-info
							.catalog__slide-name #[span {{ item.collection }}] {{ item.name }}
							.catalog__slide-foot
								.catalog__slide-price {{ item.price}} руб. #[sub {{ item.dimension }}]
								.catalog__slide-control
									.btn(@click="toggleCart", :class="{'btn_fill': item.in_cart}")
										icon(name="basket")
										span В корзину
									.btn.btn_icon(@click="toggleFavourite", :class="{'btn_fill': item.in_favourite}"): icon(name="favourite")
									span.more Подробнее
								.catalog__slide-menu
									.catalog__slide-menu-item: router-link(:to="{name:'product', params: {id: item.id, screen: 'model3d'}}") 360°
									.catalog__slide-menu-item: router-link(:to="{name:'product', params: {id: item.id, screen: 'calc'}}") Калькулятор стоимости
									.catalog__slide-menu-item: router-link(:to="{name:'product', params: {id: item.id, screen: 'character'}}") Характеристики
									.catalog__slide-menu-item: router-link(:to="{name:'product', params: {id: item.id, screen: 'gallery'}}") Фотогалерея
									.catalog__slide-menu-item: router-link(:to="{name:'product', params: {id: item.id, screen: 'info'}}") Описание
						.catalog__slide-image
							img(v-lazy="item.image")

		.catalog__thumbs-wrap
			swiper(:options="optionsThumbs", ref="catalogThumbs").catalog__thumbs
				swiper-slide(
					v-for="(slide, index) in virtualData.slides",
					:key="slide.id",
					:style="{left: `${virtualData.offset}px`}"
					)
					.catalog__thumb(:class="{'swiper-slide-active' : slide.id === active}", @click="onClick(slide.id)")
						.catalog__thumb-inner
							.catalog__thumb-image
								img(v-lazy="item.image")
							.catalog__thumb-name #[span {{ slide.collection }}] {{ slide.name }}
			.catalog__thumb-arrow.catalog__thumb-arrow_prev: icon(name="arrow-left")
			.catalog__thumb-arrow.catalog__thumb-arrow_next: icon(name="arrow-right")

</template>

<script>

	export default {

		props: ['list'],

		data () {
			return {
				loading: false,

				virtualData: {
					offset: 0,
					slides: [],
				},

				active: this.list[0].id,

				optionsThumbs: {
					slidesPerView: 3,
					spaceBetween: 10,
					navigation: {
						nextEl: '.catalog__thumb-arrow_next',
						prevEl: '.catalog__thumb-arrow_prev'
					},
					//loop: true,
					breakpointsInverse: true,
					//slideToClickedSlide: true,
					breakpoints: {
						768: {
							slidesPerView: 4,
							spaceBetween: 20
						},
						1360: {
							slidesPerView: 6,
							spaceBetween: 20
						}
					},

					virtual: {
						slides: [...this.list],
						renderExternal: (data)=>{
							this.virtualData = data;
						},
					},

					on: {

						slideChange: (e)=>{
							//let id = this.list[this.thumbs.activeIndex].id;
							this.active = this.list[this.thumbs.activeIndex].id;
							//console.info(this.thumbs.activeIndex);
						},

					}
				}
			}
		},

		created() {

		},

		mounted (){

		},

		methods: {

			onClick(id){
				// let idx = this.list.findIndex( i => i.id === id);
				this.active = id;
				// this.thumbs.slideTo(idx , 0);
			},

			toggleCart(){
				if ( this.loading ) return;
				this.loading = true;
				this.$store.dispatch(this.item.in_cart ? 'product/addToCart' : 'product/removeFromCart', this.item.id)
					.then(()=>{
						this.$store.dispatch('base/commonInfo');
					})
					.finally(()=>{
						this.loading = false;
					})
				;
			},

			toggleFavourite(){
				if ( this.loading ) return;
				this.loading = true;
				this.$store.dispatch(this.item.in_favourite ? 'product/addToFavourite' : 'product/removeFromFavourite', this.item.id)
					.then(()=>{
						this.$store.dispatch('base/commonInfo');
					})
					.finally(()=>{
						this.loading = false;
					})
				;
			},

		},

		computed: {

			item(){
				return this.list.find(i => i.id === this.active);
			},

			thumbs(){
				return this.$refs.catalogThumbs ? this.$refs.catalogThumbs.swiper : null;
			},
		},


		components: {
		},

	}
</script>

<style lang="scss">

</style>