<template lang="pug">
	.tab-item(v-show="active")
		slot


</template>

<script>
	export default {
		name: 'tab-item',


		data() {
			return {
				active: false
			}
		},

		methods:{
			setActive(v){
				this.active = v;
			}
		},

	}
</script>

<style scoped lang="scss">

	.tab-item{
		margin-top: 20px;
	}

</style>


