<template lang="pug">
	.tab-wrap
		slot


</template>

<script>
	export default {
		name: 'tab-wrap',

		data() {
			return {
				active: 0,
				collection: {}
			}
		},

		mounted(){
			this.$children.forEach((item) => {
				if ( !this.collection[item.$options.name] ) this.collection[item.$options.name] = [];
				this.collection[item.$options.name].push(item);
			});

			this.setActive(0)
		},

		methods:{
			setActive(n){
				if ( n === undefined ) return;

				Object.keys(this.collection).forEach( name =>{
					this.collection[name].forEach( (item, i) => {
						item.setActive(i === n);
					});
				})
			},

			childHandler(el){
				this.setActive(this.collection[el.$options.name].findIndex( i => i._uid === el._uid));
			}
		},

	}
</script>

<style lang="scss">

</style>


