<template lang="pug">
	.tab-link(@click="onClick", :class="{'is-active': active}")
		slot


</template>

<script>
	export default {
		name: 'tab-link',

		data() {
			return {
				active: false
			}
		},

		methods:{
			onClick(){
				this.$parent.childHandler(this);
			},

			setActive(v){
				this.active = v;
			}
		},

	}
</script>

<style scoped lang="scss">
	.tab-link{
		cursor: pointer;
		display: inline-block;
		margin: 0 40px 10px 0;
		position: relative;

		&.is-active{
			color: #fff;
			&:after{
				content: '';
				display: block;
				position: absolute;
				width: 3px;
				height: 3px;
				border-radius: 50%;
				background: #fff;
				left: 50%;
				bottom: -15px;
			}
		}

		&:hover{
			color: #fff;
		}
	}
</style>


