<template lang="pug">
	page-wrap
		template(slot="aside")
			scroll-bar.side(:breakpoints="['desktop']")
				.side__inner
					Menu

		template(slot="content")
			scroll-bar.content(:breakpoints="['mobile', 'tablet']")
				.content__inner(:class="{'show-map': showMap}")
					.contacts.contacts_map
						.contacts__inner
							.contacts__case.contacts__case_aside.contacts__case_address
								.contacts__case-inner
									scroll-bar(:breakpoints="['compact', 'desktop']")
										Address

							.contacts__case.contacts__case_main.contacts__case_map
								.contacts__case-inner
									.contacts__map
										.contacts__map-toggle: .btn.btn_fill(@click="toggleMap")
											template(v-if="showMap") Посмотреть списком
											template(v-else) Посмотреть на карте
										yandexMap(:coords="center", :zoom="zoom", :settings="mapSettings", :controls="controls", @map-was-initialized="onMapInit")



</template>

<script>
	import Menu from '../menu.vue'
	import Address from '../address.vue'
	import { yandexMap, ymapMarker } from 'vue-yandex-maps'

	let timer = null;

	export default {
		data () {
			return {
				showMap: false,
				center: [59.908590, 30.448263],
				controls: [],
				behaviors: [],
				zoom: 17,
				mapSettings: {

				},
				map: null
			}
		},

		mounted (){

		},

		methods: {
			onMapInit(map){

				/*map.events.add('click', function (e) {
					var coords = e.get('coords');
					console.info(coords)
				});*/

				this.map = map;

				let poly = [
					[
						[59.91081282309062, 30.450445590721564],
						[59.91189828184486, 30.449431984776574],
						[59.911686809643896, 30.44871583496962],
						[59.91158039955388, 30.448444931859107],
						[59.91043704376484, 30.446482692227775],
						[59.91033871175161, 30.446702633366986],
						[59.910105677183545, 30.446514878735933],
						[59.91000599715615, 30.446482692227775],
						[59.9099386456163, 30.446493421063828],
						[59.909857823587494, 30.446530971990036],
						[59.909790471746035, 30.44659534500638],
						[59.90972850793079, 30.446707997785012],
						[59.90968944372677, 30.446815286145615]
					],
					[
						[59.907170139755614, 30.45036920462892],
						[59.90732101963754, 30.450068797219238],
						[59.90769282783874, 30.44982203398987],
						[59.9081616235293, 30.448867167580563],
						[59.90849570376161, 30.44856676017091],
						[59.90866274261293, 30.44792303000733],
						[59.908716625933494, 30.44801958953186],
						[59.9093632189361, 30.446796502221076],
						[59.909616464418676, 30.447279299843757],
						[59.909697287037034, 30.44715055381105],
					],
					[
						[59.911055232547376, 30.450112010626384],
						[59.910990577122064, 30.449757959036415],
						[59.910915145632856, 30.449580933241442],
						[59.909883333355495, 30.447510267881928]
					]
				],
					opts1 = {
						// Описываем свойства геообъекта.
						// Содержимое балуна.
						//balloonContent: "Ломаная линия"
					},
					opts2 = {
						// Задаем опции геообъекта.
						// Отключаем кнопку закрытия балуна.
						balloonCloseButton: false,
						// Цвет линии.
						strokeColor: "#000000",
						// Ширина линии.
						strokeWidth: 4,
						// Коэффициент прозрачности.
						strokeOpacity: 1
					};


				for (let i = 0; i < poly.length; i++){
					this.map.geoObjects.add(new ymaps.Polyline(poly[i], opts1, opts2));
				}

				this.map.setBounds(this.map.geoObjects.getBounds());
			},

			toggleMap(){
				this.showMap = !this.showMap;

				try { clearTimeout(timer); } catch (e) {}
				timer = setTimeout(()=>{
					try {
						this.map.container.fitToViewport();
						this.map.setBounds(this.map.geoObjects.getBounds());
					} catch (e) {}
				}, 500)
			}
		},



		components: {
			Menu,
			yandexMap,
			Address
		},

	}
</script>

<style lang="scss">

</style>